In [1]:
import pandas as pd
cnchar_df = pd.read_excel('name_data/exigerData/EXGR_Chinese names(Character).xlsx')
cnrom_df = pd.read_excel("name_data/exigerData/EXGR_Chinese names(Romantized).xlsx")
viet_df = pd.read_excel("name_data/exigerData/EXGR_Vietnamese.xlsx")

Todo:
- clean: chinese char, chinese rom, viet

EXGR_Chinese names(Character).xlsx - CLEANING
===

In [2]:
pd.set_option('display.max_columns', None)
cnchar_df

,Unnamed: 0,id,fullname,Family name,Given Name,Notes,Unnamed: 6
0,254,http://www.wikidata.org/entity/Q11353301,丁一平,NaN,NaN,NaN,**Some commom compound Chinese surnames:东方，端木，...
1,10638,http://www.wikidata.org/entity/Q25252433,丁世雄,NaN,NaN,NaN,NaN
2,19335,http://www.wikidata.org/entity/Q5278150,丁亦昕,NaN,NaN,NaN,NaN
3,15789,http://www.wikidata.org/entity/Q5278152,丁仲礼,NaN,NaN,NaN,NaN
4,7024,http://www.wikidata.org/entity/Q5278145,丁伟,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
12038,5523,http://www.wikidata.org/entity/Q26444255,龚翔宇,NaN,NaN,NaN,NaN
12039,7873,http://www.wikidata.org/entity/Q8288235,龚育之,NaN,NaN,NaN,NaN
12040,5093,http://www.wikidata.org/entity/Q5581667,龚蓓苾,NaN,NaN,NaN,NaN
12041,17761,http://www.wikidata.org/entity/Q16921559,龚贤永,NaN,NaN,NaN,NaN
12042,11995,http://www.wikidata.org/entity/Q10567442,龚鼎,NaN,NaN,NaN,NaN

In [3]:
cnchar_df.drop(columns = ['Unnamed: 0', 'id'], inplace = True)

In [4]:
cnchar_df

,fullname,Family name,Given Name,Notes,Unnamed: 6
0,丁一平,NaN,NaN,NaN,**Some commom compound Chinese surnames:东方，端木，...
1,丁世雄,NaN,NaN,NaN,NaN
2,丁亦昕,NaN,NaN,NaN,NaN
3,丁仲礼,NaN,NaN,NaN,NaN
4,丁伟,NaN,NaN,NaN,NaN
...,...,...,...,...,...
12038,龚翔宇,NaN,NaN,NaN,NaN
12039,龚育之,NaN,NaN,NaN,NaN
12040,龚蓓苾,NaN,NaN,NaN,NaN
12041,龚贤永,NaN,NaN,NaN,NaN
12042,龚鼎,NaN,NaN,NaN,NaN

In [5]:
duplicates = cnchar_df['fullname'].duplicated()
print(cnchar_df[duplicates])

      fullname Family name Given Name Notes Unnamed: 6
29          丁浩         NaN        NaN   NaN        NaN
129         尹力         NaN        NaN   NaN        NaN
150         尹航         NaN        NaN   NaN        NaN
180         乔良         NaN        NaN   NaN        NaN
246         于洋         NaN        NaN   NaN        NaN
...        ...         ...        ...   ...        ...
11538       高莉         NaN        NaN   NaN        NaN
11582       魏巍         NaN        NaN   NaN        NaN
11583       魏巍         NaN        NaN   NaN        NaN
11598      魏江春         NaN        NaN   NaN        NaN
11803       黄华         NaN        NaN   NaN        NaN

[283 rows x 5 columns]

In [6]:
cnchar_df.drop_duplicates(subset=['fullname'], keep='first', inplace=True)
cnchar_df

,fullname,Family name,Given Name,Notes,Unnamed: 6
0,丁一平,NaN,NaN,NaN,**Some commom compound Chinese surnames:东方，端木，...
1,丁世雄,NaN,NaN,NaN,NaN
2,丁亦昕,NaN,NaN,NaN,NaN
3,丁仲礼,NaN,NaN,NaN,NaN
4,丁伟,NaN,NaN,NaN,NaN
...,...,...,...,...,...
12038,龚翔宇,NaN,NaN,NaN,NaN
12039,龚育之,NaN,NaN,NaN,NaN
12040,龚蓓苾,NaN,NaN,NaN,NaN
12041,龚贤永,NaN,NaN,NaN,NaN
12042,龚鼎,NaN,NaN,NaN,NaN

In [7]:
# null_values = cnchar_df['fullname'].isnull()
# print(cnchar_df[null_values])
# NO NULL VALUES

DATA EXPLORATION

In [8]:
cnchar_df['Notes'].unique()

array([nan, 'minority name', 'non-native', 'pseudonym', 'stage name',
       'should be侯赛因.江；minority name',
       '劉-family name of her husband;吳-her family name', 'satage name',
       '周-family name of her husband;梁-her family name', 'fake name',
       'pen name', '方-family name of her husband; 黄-her family name',
       '曹-family name of her husband;王-her family name',
       '朱-family name of her husband;李-her family name',
       '朱-family name of her husband;葉-her family name',
       '林-family name of her husband;鄭-her family name',
       '梁-family name of her husband;劉- her family name ',
       '梁-family name of her husband;高- her family name',
       'should be 泰迪.羅賓；non-native',
       '罗-family name of her husband;范-her family name',
       '范-family name of her husband;徐-her family name',
       '葉-family name of her husband；劉-her family name',
       '蘇-family name of her husband;周- her family name', 'buddhist',
       'family name should be in Chinese character 周',
       '陈-family name of her husband; 冯-her family name',
       '陳-family name of her husband;方-her family name',
       '高-family name of her husband;金-her family name',
       '黃-family name of her husband;馬-her family name'], dtype=object)

**Maybe notes saying that it's a minority name/non-native name should be counted? Drop all the ones that say pseudonym/stage name? Maybe we can afford to drop certain examples of names, since we have so many of them...?

In [10]:
drop_notes = ['minority name', 'non-native', 'pseudonym', 'stage name']
cnchar_df = cnchar_df[~cnchar_df['Notes'].isin(drop_notes)]
cnchar_df

,fullname,Family name,Given Name,Notes,Unnamed: 6
0,丁一平,NaN,NaN,NaN,**Some commom compound Chinese surnames:东方，端木，...
1,丁世雄,NaN,NaN,NaN,NaN
2,丁亦昕,NaN,NaN,NaN,NaN
3,丁仲礼,NaN,NaN,NaN,NaN
4,丁伟,NaN,NaN,NaN,NaN
...,...,...,...,...,...
12038,龚翔宇,NaN,NaN,NaN,NaN
12039,龚育之,NaN,NaN,NaN,NaN
12040,龚蓓苾,NaN,NaN,NaN,NaN
12041,龚贤永,NaN,NaN,NaN,NaN
12042,龚鼎,NaN,NaN,NaN,NaN

In [12]:
cnchar_df['Unnamed: 6'].unique()

array(['**Some commom compound Chinese surnames:东方，端木，独孤，公孙，上官，令狐，慕容，欧阳，司马，司徒，夏侯，西门，长孙，诸葛。',
       nan], dtype=object)

**TODO: find all names with the compound surnames (东方，端木，独孤，公孙，上官，令狐，慕容，欧阳，司马，司徒，夏侯，西门，长孙，诸葛), split those accordingly. The other ones could just use the first character as family name.

EXGR_Chinese names(Romantized).xlsx - CLEANING
===

In [13]:
cnrom_df

,Unnamed: 0,id,fullname,Family name,Given Name,Notes
0,1806.0,http://www.wikidata.org/entity/Q2861472,8th Arjia Rinpoche,NaN,NaN,non-native
1,9519.0,http://www.wikidata.org/entity/Q2107375,A Lamusi,NaN,NaN,non-native
2,2157.0,http://www.wikidata.org/entity/Q16872,Aaron Kwok,NaN,NaN,NaN
3,22359.0,http://www.wikidata.org/entity/Q50366858,Abduhamit Abdugheni,NaN,NaN,non-native
4,20305.0,http://www.wikidata.org/entity/Q2821416,Abdul Haq,NaN,NaN,non-native
...,...,...,...,...,...,...
12009,22920.0,http://www.wikidata.org/entity/Q8074892,Zu Xiaosun,NaN,NaN,NaN
12010,436.0,http://www.wikidata.org/entity/Q8075316,Zuo Shusheng,NaN,NaN,NaN
12011,5871.0,http://www.wikidata.org/entity/Q9090197,Zuo Xiaoqing,NaN,NaN,NaN
12012,9205.0,http://www.wikidata.org/entity/Q24006407,Zuo Yiteng,NaN,NaN,NaN
12013,5003.0,http://www.wikidata.org/entity/Q4349553,Zuoxiao Zuzhou,NaN,NaN,NaN

In [14]:
cnrom_df.drop(columns = ['Unnamed: 0', 'id'], inplace = True)

In [15]:
cnrom_df['Notes'].unique()

array(['non-native', nan], dtype=object)

In [16]:
duplicates = cnrom_df['fullname'].duplicated()
print(cnrom_df[duplicates])

          fullname Family name Given Name Notes
22         Ai Xuan         NaN        NaN   NaN
65        Amy Chan         NaN        NaN   NaN
90       Alex Fong         NaN        NaN   NaN
287     Benny Chan         NaN        NaN   NaN
480       Cao Ying         NaN        NaN   NaN
...            ...         ...        ...   ...
11887      Zhu Min         NaN        NaN   NaN
11888      Zhu Min         NaN        NaN   NaN
11894       Zhu Qi         NaN        NaN   NaN
11910     Zhu Ting         NaN        NaN   NaN
11922  Zhu Xiaodan         NaN        NaN   NaN

[894 rows x 4 columns]

In [17]:
cnrom_df.drop_duplicates(subset=['fullname'], keep='first', inplace=True)
cnrom_df

                  fullname Family name Given Name       Notes
0       8th Arjia Rinpoche         NaN        NaN  non-native
1                 A Lamusi         NaN        NaN  non-native
2               Aaron Kwok         NaN        NaN         NaN
3      Abduhamit Abdugheni         NaN        NaN  non-native
4                Abdul Haq         NaN        NaN  non-native
...                    ...         ...        ...         ...
12009           Zu Xiaosun         NaN        NaN         NaN
12010         Zuo Shusheng         NaN        NaN         NaN
12011         Zuo Xiaoqing         NaN        NaN         NaN
12012           Zuo Yiteng         NaN        NaN         NaN
12013       Zuoxiao Zuzhou         NaN        NaN         NaN

[11120 rows x 4 columns]

In [18]:
#Get rid of all examples with 'non-native', to try and further narrow df down to just Chinese names
cnrom_df.drop(cnrom_df[cnrom_df['Notes'] == 'non-native'].index, inplace=True)
cnrom_df

              fullname Family name Given Name Notes
2           Aaron Kwok         NaN        NaN   NaN
9      Adhe Tapontsang         NaN        NaN   NaN
10           Ai Baojun         NaN        NaN   NaN
11         Ai Guoxiang         NaN        NaN   NaN
12          Ai Husheng         NaN        NaN   NaN
...                ...         ...        ...   ...
12009       Zu Xiaosun         NaN        NaN   NaN
12010     Zuo Shusheng         NaN        NaN   NaN
12011     Zuo Xiaoqing         NaN        NaN   NaN
12012       Zuo Yiteng         NaN        NaN   NaN
12013   Zuoxiao Zuzhou         NaN        NaN   NaN

[11020 rows x 4 columns]

EXGR_Vietnamese.xlsx - CLEANING
===

In [19]:
viet_df

,Unnamed: 0,id,fullname,Family name,Given name
0,http://www.wikidata.org/entity/Q4466941,Từ Hoàng Thông,NaN,NaN,NaN
1,http://www.wikidata.org/entity/Q27793245,Nguyễn Thị Phương Thảo,NaN,NaN,NaN
2,http://www.wikidata.org/entity/Q10528061,Nguyễn Mạnh Dũng (cầu thủ bóng đá sinh 1981),NaN,NaN,NaN
3,http://www.wikidata.org/entity/Q362337,Nick Út,NaN,NaN,NaN
4,http://www.wikidata.org/entity/Q5034332,Cao Văn Lầu,NaN,NaN,NaN
...,...,...,...,...,...
3195,http://www.wikidata.org/entity/Q1033947,Lê Chân Tông,NaN,NaN,NaN
3196,http://www.wikidata.org/entity/Q52161415,Hồ Sỹ Giáp,NaN,NaN,NaN
3197,http://www.wikidata.org/entity/Q7023137,Nguyễn Văn Thương,NaN,NaN,NaN
3198,http://www.wikidata.org/entity/Q5923096,Hoàng Tích Chu,NaN,NaN,NaN
3199,http://www.wikidata.org/entity/Q10779536,Khuất Hữu Sơn,NaN,NaN,NaN

In [20]:
viet_df.drop(columns = ['Unnamed: 0'], inplace = True)

In [21]:
viet_df.drop_duplicates(subset=['id'], keep='first', inplace=True)
viet_df

,id,fullname,Family name,Given name
0,Từ Hoàng Thông,NaN,NaN,NaN
1,Nguyễn Thị Phương Thảo,NaN,NaN,NaN
2,Nguyễn Mạnh Dũng (cầu thủ bóng đá sinh 1981),NaN,NaN,NaN
3,Nick Út,NaN,NaN,NaN
4,Cao Văn Lầu,NaN,NaN,NaN
...,...,...,...,...
3189,Nguyen Duc Kien,NaN,NaN,NaN
3190,Nguyen Phuc Thai,NaN,NaN,NaN
3192,Lê Phổ,NaN,NaN,NaN
3193,Vu Ngoc Nha,NaN,NaN,NaN
3194,Hoang Ke Viem,NaN,NaN,NaN