In [1]:
import pandas as pd
from nltk.util import ngrams

import numpy as np
import os 
import unicodedata

In [2]:
# Reading in the Turkish nams 
df_turk  =  pd.read_excel('name_data/exigerData/EXGR_Turkish names2.xlsx')
print(df_turk)

                                            id                      label_tr  \
0       http://www.wikidata.org/entity/Q282782                          Ceza
1       http://www.wikidata.org/entity/Q288019                        Gülşen
2       http://www.wikidata.org/entity/Q236047                        Hadise
3       http://www.wikidata.org/entity/Q236920                         Emrah
4       http://www.wikidata.org/entity/Q182948                        Göksel
...                                        ...                           ...
18769  http://www.wikidata.org/entity/Q6053953     Elif Nur Bozkurt Tandoğan
18770  http://www.wikidata.org/entity/Q6085044    Muhammed Ali Fatih Erbakan
18771  http://www.wikidata.org/entity/Q6041731      İsmail Hamit Özer Derbil
18772  http://www.wikidata.org/entity/Q6071196        Vedat Ali Özkan Kayacı
18773     http://www.wikidata.org/entity/Q5031  Elder Paisios of Mount Athos

      comment          Given name Middle Name Family name Maiden Name  \
0           x                 NaN         NaN         NaN         NaN
1           x                 NaN         NaN         NaN         NaN
2           x                 NaN         NaN         NaN         NaN
3           x                 NaN         NaN         NaN         NaN
4           x                 NaN         NaN         NaN         NaN
...       ...                 ...         ...         ...         ...
18769     NaN   Elif Nur Bozkurt          NaN    Tandoğan         NaN
18770     NaN  Muhammed Ali Fatih         NaN     Erbakan         NaN
18771       x                 NaN         NaN         NaN         NaN
18772     NaN     Vedat Ali Özkan         NaN      Kayacı         NaN
18773       x                 NaN         NaN         NaN         NaN

       Unnamed: 7
0               1
1               1
2               1
3               1
4               1
...           ...
18769           4
18770           4
18771           4
18772           4
18773           5

[18774 rows x 8 columns]

In [3]:
#printing out the shape 
df_turk.shape

(18774, 8)

In [4]:
#Printing out the head
df_turk.head()

,id,label_tr,comment,Given name,Middle Name,Family name,Maiden Name,Unnamed: 7
0,http://www.wikidata.org/entity/Q282782,Ceza,x,NaN,NaN,NaN,NaN,1
1,http://www.wikidata.org/entity/Q288019,Gülşen,x,NaN,NaN,NaN,NaN,1
2,http://www.wikidata.org/entity/Q236047,Hadise,x,NaN,NaN,NaN,NaN,1
3,http://www.wikidata.org/entity/Q236920,Emrah,x,NaN,NaN,NaN,NaN,1
4,http://www.wikidata.org/entity/Q182948,Göksel,x,NaN,NaN,NaN,NaN,1

In [5]:
#checking if there is any null entries in the datasets
df_turk.isnull().values.any()

True

In [6]:
# checking what's in the comment columns
df_turk['comment']

0          x
1          x
2          x
3          x
4          x
        ...
18769    NaN
18770    NaN
18771      x
18772    NaN
18773      x
Name: comment, Length: 18774, dtype: object

In [7]:
df_turk.isnull().head()

,id,label_tr,comment,Given name,Middle Name,Family name,Maiden Name,Unnamed: 7
0,False,False,False,True,True,True,True,False
1,False,False,False,True,True,True,True,False
2,False,False,False,True,True,True,True,False
3,False,False,False,True,True,True,True,False
4,False,False,False,True,True,True,True,False

In [7]:
#checking how many null entries each columns have 
nan_count = np.sum(df_turk.isnull(), axis = 0)
nan_count

id                 0
label_tr           0
comment        18318
Given name       455
Middle Name    18772
Family name      459
Maiden Name    18763
Unnamed: 7         0
dtype: int64

In [8]:
# checking if the datasets have any duplicates 
df_turk['label_tr'].duplicated().any()

True

In [9]:
#check if there is any null entries 
np.any(df_turk['label_tr'].isnull())

False

In [11]:
#just checking the shape before dropping dupliates (18774,8)
df_turk.shape

(18774, 8)

In [12]:
#Dropping the duplicates(place in a new variable)
df2_turk = df_turk.drop_duplicates(subset=['label_tr'])
print(df2_turk)

                                            id                      label_tr  \
0       http://www.wikidata.org/entity/Q282782                          Ceza
1       http://www.wikidata.org/entity/Q288019                        Gülşen
2       http://www.wikidata.org/entity/Q236047                        Hadise
3       http://www.wikidata.org/entity/Q236920                         Emrah
4       http://www.wikidata.org/entity/Q182948                        Göksel
...                                        ...                           ...
18769  http://www.wikidata.org/entity/Q6053953     Elif Nur Bozkurt Tandoğan
18770  http://www.wikidata.org/entity/Q6085044    Muhammed Ali Fatih Erbakan
18771  http://www.wikidata.org/entity/Q6041731      İsmail Hamit Özer Derbil
18772  http://www.wikidata.org/entity/Q6071196        Vedat Ali Özkan Kayacı
18773     http://www.wikidata.org/entity/Q5031  Elder Paisios of Mount Athos

      comment          Given name Middle Name Family name Maiden Name  \
0           x                 NaN         NaN         NaN         NaN
1           x                 NaN         NaN         NaN         NaN
2           x                 NaN         NaN         NaN         NaN
3           x                 NaN         NaN         NaN         NaN
4           x                 NaN         NaN         NaN         NaN
...       ...                 ...         ...         ...         ...
18769     NaN   Elif Nur Bozkurt          NaN    Tandoğan         NaN
18770     NaN  Muhammed Ali Fatih         NaN     Erbakan         NaN
18771       x                 NaN         NaN         NaN         NaN
18772     NaN     Vedat Ali Özkan         NaN      Kayacı         NaN
18773       x                 NaN         NaN         NaN         NaN

       Unnamed: 7
0               1
1               1
2               1
3               1
4               1
...           ...
18769           4
18770           4
18771           4
18772           4
18773           5

[18491 rows x 8 columns]

In [13]:
#checking if there are still duplicates
df2_turk['label_tr'].duplicated().any()

False

In [17]:
#Just checking if th shape went down(which it did (18774,8) to (18491,8))
df2_turk.shape

(18491, 8)

In [18]:
# checking if the null values went down (it did) 
nan_count = np.sum(df2_turk.isnull(), axis = 0)
nan_count

id                 0
label_tr           0
comment        18037
Given name       453
Middle Name    18489
Family name      457
Maiden Name    18480
Unnamed: 7         0
dtype: int64

In [19]:
#printing the col_names with null values
condition = nan_count != 0
col_names = nan_count[condition].index
nan_cols = list(col_names)
print(nan_cols)

['comment', 'Given name', 'Middle Name', 'Family name', 'Maiden Name']

In [20]:
print(df2_turk['comment'].unique())
print(df2_turk['Given name'].unique())
print(df2_turk['Middle Name'].unique())
print(df2_turk['Family name'].unique())
print(df2_turk['Maiden Name'].unique())

['x' nan]
[nan 'Melahat' 'Freddy' ... 'Elif Nur Bozkurt ' 'Muhammed Ali Fatih'
 'Vedat Ali Özkan']
[nan 'Sahin' 'Kemal']
[nan 'Abbasova' 'Scholl' ... 'Kapıcıoğlu' 'Ali Marandi' 'Bektur']
[nan 'Önder' 'Kafaoğlu' 'Türker' 'Doğan' 'Karahan' 'Sabancı' 'Ekşi' 'İnan'
 'Tosun' 'Sayan']

In [21]:
# drop comments row with x 
comments_drop_with_x =  df2_turk['comment'] == 'x'
df2_turk = df2_turk.drop(df2_turk[df2_turk['comment'] == 'x'].index)
print(df2_turk)
#print(comments_drop)
#df2_turk['comment']

                                             id                    label_tr  \
125     http://www.wikidata.org/entity/Q3508136            Melahat Abbasova
126       http://www.wikidata.org/entity/Q96602         Freddy Sahin-Scholl
127      http://www.wikidata.org/entity/Q217097             Richard Kingson
129      http://www.wikidata.org/entity/Q110126                  Hrant Dink
130       http://www.wikidata.org/entity/Q42079               Ricky Winslow
...                                         ...                         ...
18764  http://www.wikidata.org/entity/Q49703809   Nil İpek Hülagü Öztürkmen
18765  http://www.wikidata.org/entity/Q24230049      Fatma Betül Sayan Kaya
18769   http://www.wikidata.org/entity/Q6053953   Elif Nur Bozkurt Tandoğan
18770   http://www.wikidata.org/entity/Q6085044  Muhammed Ali Fatih Erbakan
18772   http://www.wikidata.org/entity/Q6071196      Vedat Ali Özkan Kayacı

      comment          Given name Middle Name Family name Maiden Name  \
125       NaN             Melahat         NaN    Abbasova         NaN
126       NaN              Freddy       Sahin      Scholl         NaN
127       NaN             Richard         NaN     Kingson         NaN
129       NaN               Hrant         NaN        Dink         NaN
130       NaN               Ricky         NaN     Winslow         NaN
...       ...                 ...         ...         ...         ...
18764     NaN     Nil İpek Hülagü         NaN   Öztürkmen         NaN
18765     NaN         Fatma Betül         NaN        Kaya       Sayan
18769     NaN   Elif Nur Bozkurt          NaN    Tandoğan         NaN
18770     NaN  Muhammed Ali Fatih         NaN     Erbakan         NaN
18772     NaN     Vedat Ali Özkan         NaN      Kayacı         NaN

       Unnamed: 7
125             2
126             2
127             2
129             2
130             2
...           ...
18764           4
18765           4
18769           4
18770           4
18772           4

[18037 rows x 8 columns]

In [22]:
#check the shape again( went form (18491,8) to (18037, 8))
df2_turk.shape

(18037, 8)

In [23]:
nan_count = np.sum(df2_turk.isnull(), axis = 0)
nan_count

id                 0
label_tr           0
comment        18037
Given name         0
Middle Name    18035
Family name        4
Maiden Name    18026
Unnamed: 7         0
dtype: int64

In [24]:
non_alnum_names_turk = [name for name in df2_turk['label_tr'] if not str.isalnum(name.replace(' ', ''))]
print(len(non_alnum_names_turk))
non_alnum_names_turk

30

['Freddy Sahin-Scholl',
 'Perihan Önder-Ridder',
 'Erhan-Can Kartal',
 'Ali-Özgür Özdil',
 'Mehmet Aga-Oglu',
 'Ahmed Agha-Oghlu',
 'Hatice Aksoy-Woinek',
 'Bugha al-Sharabi',
 'Iffat Al-Thunayan',
 "Nev'îzâde Atâyî",
 'Üstün Bilgen-Reinart',
 'Mehpare Bozyigit-Kirchmann',
 'Elif Çağlar-Muslu',
 "Cem'i Demiroğlu",
 "Neş'e Erdok",
 'Asuman Kafaoğlu-Büke',
 'Elçin Kürşat-Ahlers',
 'Gönül Sen-Menzel',
 'Tülay Sözbir-Seidel',
 "Gaybi Sun'ullah",
 'Ayshe Talay-Ongan',
 'Sevgi Türker-Terlemez',
 "Mümtaz'er Türköne",
 'Sabiha Bânu Yalkut-Breddermann',
 "Temel Nücûm'i Göksel",
 'Molla Ahmed-i Cezirî',
 "Dipika O'Neill Joti",
 "Abdurrahman Necati Kara'a",
 'Kerimüddin Mahmud-i Aksarayî',
 'Salah al-Din Zarkub']

In [29]:
#drop extra column we don't need 
df2_turk = df2_turk.drop(columns = ['Unnamed: 7'])

In [30]:
nan_count = np.sum(df2_turk.isnull(), axis = 0)
nan_count

id                 0
label_tr           0
comment        18037
Given name         0
Middle Name    18035
Family name        4
Maiden Name    18026
dtype: int64

In [50]:
#creating features to determine the alphabet
determine_alphabet = [unicodedata.name(name[0]).split(' ')[0] for name in df2_turk['fullname']]
#df2_turk['determine_alphabet'] = df2_turk['label_tr'].apply(lambda name: unicodedata.name(name[0]).split(' ')[0])

In [51]:
print(df2_turk['determine_alphabet'])

125      LATIN
126      LATIN
127      LATIN
129      LATIN
130      LATIN
         ...
18764    LATIN
18765    LATIN
18769    LATIN
18770    LATIN
18772    LATIN
Name: determine_alphabet, Length: 18037, dtype: object

In [38]:
def turk_char_ngrams(names,n):
    char_ngrams = ngrams(names, n)
    return [''.join(gram) for gram in char_ngrams]

n = 3
df2_turk['char_ngrams'] = df2_turk['label_tr'].apply(lambda x: turk_char_ngrams(x, n))

In [39]:
print(df2_turk['char_ngrams'])

125      [Mel, ela, lah, aha, hat, at , t A,  Ab, Abb, ...
126      [Fre, red, edd, ddy, dy , y S,  Sa, Sah, ahi, ...
127      [Ric, ich, cha, har, ard, rd , d K,  Ki, Kin, ...
129               [Hra, ran, ant, nt , t D,  Di, Din, ink]
130      [Ric, ick, cky, ky , y W,  Wi, Win, ins, nsl, ...
                               ...
18764    [Nil, il , l İ,  İp, İpe, pek, ek , k H,  Hü, ...
18765    [Fat, atm, tma, ma , a B,  Be, Bet, etü, tül, ...
18769    [Eli, lif, if , f N,  Nu, Nur, ur , r B,  Bo, ...
18770    [Muh, uha, ham, amm, mme, med, ed , d A,  Al, ...
18772    [Ved, eda, dat, at , t A,  Al, Ali, li , i Ö, ...
Name: char_ngrams, Length: 18037, dtype: object

In [43]:
# feature to check the name length
def name_length(name):
    return len(name.replace(' ', ''))

df2_turk['name_len'] = df2_turk['label_tr'].apply(name_length)

In [44]:
print(df2_turk['name_len'])

125      15
126      18
127      14
129       9
130      12
         ..
18764    22
18765    19
18769    22
18770    23
18772    19
Name: name_len, Length: 18037, dtype: int64

In [46]:
# feature to check the name length
def token_length(name):
    return len(name.split())

df2_turk['token_len'] = df2_turk['label_tr'].apply(token_length)

In [47]:
print(df2_turk['token_len'])

125      2
126      2
127      2
129      2
130      2
        ..
18764    4
18765    4
18769    4
18770    4
18772    4
Name: token_len, Length: 18037, dtype: int64

In [23]:
# no more spliting name 
"""
split_names = df2_turk['label_tr'].str.split(expand=True)
num_space = split_names.shape[0]


if num_space == 0:
    df2_turk.loc[:, 'Given name'] = split_names[0]
    df2_turk.loc[:, 'Middle Name'] = None
    df2_turk.loc[:, 'Family name'] = None
elif num_space == 1:
    df2_turk.loc[:, 'Given name'] = split_names[0]
    df2_turk.loc[:, 'Middle Name'] = None
    df2_turk.loc[:, 'Family name'] = None
elif num_space == 2:
    df2_turk.loc[:, 'Given name'] = split_names[0]
    df2_turk.loc[:, 'Middle Name'] = None
    df2_turk.loc[:, 'Family name'] = split_names[2]
elif num_space == 3:
    df2_turk.loc[:, 'Given name'] = split_names[0]
    df2_turk.loc[:, 'Middle Name'] = split_names[1]
    df2_turk.loc[:, 'Family name'] = split_names[2]  
elif num_space == 4:
    df2_turk.loc[:, 'Given name'] = split_names[0] + split_names[1]
    df2_turk.loc[:, 'Middle Name'] = split_names[2]
    df2_turk.loc[:, 'Family name'] = split_names[3]  
else:
    pass
    
    """

In [24]:
print(df2_turk['Given name'])

125                 Melahat
126                  Freddy
127                 Richard
129                   Hrant
130                   Ricky
                ...
18764       Nil İpek Hülagü
18765           Fatma Betül
18769     Elif Nur Bozkurt
18770    Muhammed Ali Fatih
18772       Vedat Ali Özkan
Name: Given name, Length: 18037, dtype: object

In [25]:
print(df2_turk['Middle Name'])

125        NaN
126      Sahin
127        NaN
129        NaN
130        NaN
         ...
18764      NaN
18765      NaN
18769      NaN
18770      NaN
18772      NaN
Name: Middle Name, Length: 18037, dtype: object

In [26]:
print(df2_turk['Family name'])

125       Abbasova
126         Scholl
127        Kingson
129           Dink
130        Winslow
           ...
18764    Öztürkmen
18765         Kaya
18769     Tandoğan
18770      Erbakan
18772       Kayacı
Name: Family name, Length: 18037, dtype: object

In [185]:
print(df2_turk)

                                            id                      label_tr  \
0       http://www.wikidata.org/entity/Q282782                          Ceza
1       http://www.wikidata.org/entity/Q288019                        Gülşen
2       http://www.wikidata.org/entity/Q236047                        Hadise
3       http://www.wikidata.org/entity/Q236920                         Emrah
4       http://www.wikidata.org/entity/Q182948                        Göksel
...                                        ...                           ...
18769  http://www.wikidata.org/entity/Q6053953     Elif Nur Bozkurt Tandoğan
18770  http://www.wikidata.org/entity/Q6085044    Muhammed Ali Fatih Erbakan
18771  http://www.wikidata.org/entity/Q6041731      İsmail Hamit Özer Derbil
18772  http://www.wikidata.org/entity/Q6071196        Vedat Ali Özkan Kayacı
18773     http://www.wikidata.org/entity/Q5031  Elder Paisios of Mount Athos

      comment          Given name Middle Name Family name Maiden Name  \
0           x                 NaN         NaN         NaN         NaN
1           x                 NaN         NaN         NaN         NaN
2           x                 NaN         NaN         NaN         NaN
3           x                 NaN         NaN         NaN         NaN
4           x                 NaN         NaN         NaN         NaN
...       ...                 ...         ...         ...         ...
18769     NaN   Elif Nur Bozkurt          NaN    Tandoğan         NaN
18770     NaN  Muhammed Ali Fatih         NaN     Erbakan         NaN
18771       x                 NaN         NaN         NaN         NaN
18772     NaN     Vedat Ali Özkan         NaN      Kayacı         NaN
18773       x                 NaN         NaN         NaN         NaN

       Unnamed: 7
0               1
1               1
2               1
3               1
4               1
...           ...
18769           4
18770           4
18771           4
18772           4
18773           5

[18491 rows x 8 columns]

In [186]:
print(df2_turk[df2_turk['label_tr'].isna()])

Empty DataFrame
Columns: [id, label_tr, comment, Given name, Middle Name, Family name, Maiden Name, Unnamed: 7]
Index: []

In [187]:
df2_turk.head(18750)

,id,label_tr,comment,Given name,Middle Name,Family name,Maiden Name,Unnamed: 7
0,http://www.wikidata.org/entity/Q282782,Ceza,x,NaN,NaN,NaN,NaN,1
1,http://www.wikidata.org/entity/Q288019,Gülşen,x,NaN,NaN,NaN,NaN,1
2,http://www.wikidata.org/entity/Q236047,Hadise,x,NaN,NaN,NaN,NaN,1
3,http://www.wikidata.org/entity/Q236920,Emrah,x,NaN,NaN,NaN,NaN,1
4,http://www.wikidata.org/entity/Q182948,Göksel,x,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...
18769,http://www.wikidata.org/entity/Q6053953,Elif Nur Bozkurt Tandoğan,NaN,Elif Nur Bozkurt,NaN,Tandoğan,NaN,4
18770,http://www.wikidata.org/entity/Q6085044,Muhammed Ali Fatih Erbakan,NaN,Muhammed Ali Fatih,NaN,Erbakan,NaN,4
18771,http://www.wikidata.org/entity/Q6041731,İsmail Hamit Özer Derbil,x,NaN,NaN,NaN,NaN,4
18772,http://www.wikidata.org/entity/Q6071196,Vedat Ali Özkan Kayacı,NaN,Vedat Ali Özkan,NaN,Kayacı,NaN,4
18773,http://www.wikidata.org/entity/Q5031,Elder Paisios of Mount Athos,x,NaN,NaN,NaN,NaN,5

In [147]:
nan_count = np.sum(df2_turk.isnull(), axis = 0)
nan_count

id                 0
label_tr           0
comment        18037
Given name       453
Middle Name    18489
Family name      457
Maiden Name    18480
Unnamed: 7         0
dtype: int64

In [22]:
df2['comment'].fillna('No comment', inplace = True)
df2['Middle Name'].fillna('No Middle name', inplace = True)
df2['Maiden Name'].fillna('Unknown', inplace = True)
df2['Family name'].fillna('Unknown', inplace = True)
#df2['Given name'].fillna('Unknown', inplace = True)

/var/folders/4g/6d3mv01d7k7dpqlb46ckdk_00000gn/T/ipykernel_3525/3898517299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['comment'].fillna('No comment', inplace = True)
/var/folders/4g/6d3mv01d7k7dpqlb46ckdk_00000gn/T/ipykernel_3525/3898517299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Middle Name'].fillna('No Middle name', inplace = True)
/var/folders/4g/6d3mv01d7k7dpqlb46ckdk_00000gn/T/ipykernel_3525/3898517299.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Maiden Name'].fillna('Unknown', inplace = True)
/var/folders/4g/6d3mv01d7k7dpqlb46ckdk_00000gn/T/ipykernel_3525/3898517299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Family name'].fillna('Unknown', inplace = True)

In [23]:
nan_count = np.sum(df2_turk.isnull(), axis = 0)
nan_count

id               0
label_tr         0
comment          0
Given name     453
Middle Name      0
Family name      0
Maiden Name      0
Unnamed: 7       0
dtype: int64