In [1]:
import pandas as pd
import numpy as np

### Cleaning Indonesian Dataset

We have two Indonesian datasets, so let's compare them:

In [2]:
# Inspecting first Indonesian dataset
pd.read_excel('name_data/exigerData/EXGR_Indonesian names.xlsx').head()

,Unnamed: 0,fullname,Family name,Given name
0,http://www.wikidata.org/entity/Q7313790,Bertrand Antolin,NaN,NaN
1,http://www.wikidata.org/entity/Q15138877,Ray Rizal,NaN,NaN
2,http://www.wikidata.org/entity/Q17411237,Samsuridjal Djauzi,NaN,NaN
3,http://www.wikidata.org/entity/Q12497619,Max Arifin,NaN,NaN
4,http://www.wikidata.org/entity/Q7475963,Donita,NaN,NaN

In [3]:
# Inspecting second Indonesian dataset
df_indo = pd.read_excel('name_data/exigerData/EXGR_Indonesian names-2.xlsx')
df_indo.head()

,Unnamed: 0,fullname,Family name,Given name,Designation,Comment,Unnamed: 6,Unnamed: 7
0,http://www.wikidata.org/entity/Q7475963,Donita,NaN,Donita,NaN,It is common for Indonesians to have only 1 gi...,NaN,1
1,http://www.wikidata.org/entity/Q7645143,Supriyadi,NaN,Supriyadi,NaN,NaN,NaN,1
2,http://www.wikidata.org/entity/Q7844727,Triyaningsih,NaN,Triyaningsih,NaN,NaN,NaN,1
3,http://www.wikidata.org/entity/Q12515781,Soerjadi,NaN,Soerjadi,NaN,NaN,NaN,1
4,http://www.wikidata.org/entity/Q12523244,Undunsyah,NaN,Undunsyah,NaN,NaN,NaN,1

We will use the 2nd Indonesian dataset, `EXGR_Indonesian names-2.xlsx`, since it has more information than the first, `EXGR_Indonesian names.xlsx`. (We aren't using the extra info now but maybe we will later.) Let's drop the extra columns:

In [4]:
df_indo.drop(columns = ['Unnamed: 0', 'Designation', 'Comment', 'Unnamed: 6', 'Unnamed: 7'], inplace = True)
df_indo.head()

       fullname Family name    Given name
0        Donita         NaN        Donita
1     Supriyadi         NaN     Supriyadi
2  Triyaningsih         NaN  Triyaningsih
3      Soerjadi         NaN      Soerjadi
4     Undunsyah         NaN     Undunsyah

Let's see if there are any null entries for `fullname`:

In [5]:
np.any(df_indo['fullname'].isnull())

False

What about `Given name` and `Family name`?

In [6]:
print(np.any(df_indo['Given name'].isnull()))
df_indo[df_indo['Given name'].isnull()]

True

,fullname,Family name,Given name
10364,RO Tambunan,NaN,NaN
10365,Setiawan Dalimartha,NaN,NaN
10366,Ismet Iskandar,NaN,NaN
10367,Oktovianus Maniani,NaN,NaN
10368,Cucu Hidayat,NaN,NaN
...,...,...,...
21722,Sultan Amaluddin Al Sani Perkasa Alamsyah,NaN,NaN
21723,Maria Genoveva Natalia Desy Purnamasari Gunawan,NaN,NaN
21724,Kanjeng Raden Tumengung Mas Ariya Purnama Hadi...,NaN,NaN
21725,Kanjeng Raden Tumengung Mas Ariya Purnama Hadi...,NaN,NaN
21726,Lord Kanjeng Baginda Atep Bin Lord Dari Segala...,NaN,NaN

In [7]:
df_indo[df_indo['Family name'].isnull()]

,fullname,Family name,Given name
0,Donita,NaN,Donita
1,Supriyadi,NaN,Supriyadi
2,Triyaningsih,NaN,Triyaningsih
3,Soerjadi,NaN,Soerjadi
4,Undunsyah,NaN,Undunsyah
...,...,...,...
21722,Sultan Amaluddin Al Sani Perkasa Alamsyah,NaN,NaN
21723,Maria Genoveva Natalia Desy Purnamasari Gunawan,NaN,NaN
21724,Kanjeng Raden Tumengung Mas Ariya Purnama Hadi...,NaN,NaN
21725,Kanjeng Raden Tumengung Mas Ariya Purnama Hadi...,NaN,NaN
21726,Lord Kanjeng Baginda Atep Bin Lord Dari Segala...,NaN,NaN

In [8]:
df_indo.shape

(21727, 3)

Around half of the entries have null values for `Given name` even though `fullname` is not null, and most of the entries for `Family name` are null, so we'll have to fill those in later.

Next, let's look for duplicate entries:

In [9]:
print(len(df_indo[df_indo.duplicated()]))

6646

Since we have duplicate entries, let's remove them:

In [10]:
df_indo.drop_duplicates(inplace = True, ignore_index = True)
print(np.any(df_indo.duplicated()))
df_indo.shape

False

(15081, 3)

What about entries that aren't alphanumeric aside from spaces?

In [11]:
non_alnum_names_indo = [name for name in df_indo['fullname'] if not str.isalnum(name.replace(' ', ''))]
print(len(non_alnum_names_indo))
non_alnum_names_indo

689

["Asma'i",
 'A.Tee',
 "Sa'duddin",
 'A.Rifai',
 'F.Rahardi',
 'Anne.J.Coto',
 'T-Sha',
 'KPH.Suryakusuma',
 "Syam'un",
 'Sangrama-Vijayottunggawarman',
 'Iwa-K',
 "Anang Ma'ruf",
 'T.B. Silalahi',
 "Daud Beureu'eh",
 'Ipe Ma’aroef',
 'Dorodjatun Kuntjoro-Jakti',
 'E.S. Ito',
 "Soedjana Sapi'ie",
 'M. Dhofir',
 "Mun'im Idris",
 'M. Syaaf',
 "As'ad Humam",
 'R.A. Srimulat',
 'R.M. Suwandi',
 'M. Syarifuddin',
 'Marie-Claire Barth',
 'P.G.O Noordraven',
 'Basuki (pelawak)',
 'K.P.H. Notoprojo',
 'R. Samadikun',
 'Mulyadi (politisi)',
 'M. Kamri',
 'H. Suwardi',
 'R. Soebekti',
 'R. Hartono',
 'Moch. Badrus',
 'J. Panglaykim',
 'Amran S.N.',
 "Achmad Asj'ari",
 'Mira W.',
 "Ma'ruf Amin",
 'S. Rukiah',
 'BM. Syamsudin',
 'M.A. Rachman',
 'R. Iskak',
 'H. Salzwedel',
 'RJ. Katamsi',
 'R. Soebijakto',
 'E.A. Mangindaan',
 'M. Nasroen',
 "Abdullah Syafi'i",
 'Fatahillah (politisi)',
 'Li-Young Lee',
 'Fauzie As’ad',
 'M. Shariefuddin',
 "Achmad Rifa'i",
 'Trinity (penulis)',
 'S.A.E. Nababan',
 "Da'i Bachtiar",
 'M. Zainudin',
 'Ishadi S.K.',
 'S. Bagio',
 'Abdullah Wasi’an',
 'M. Sarbini',
 'W.J. Rumambi',
 'A. Wahab',
 'Adam B.B.',
 'M.H. Lukman',
 'K.S. Kostaman',
 'R.A. Mangkarawati',
 'R.M. Kusmuljono',
 'R.S. Subijakto',
 'H.R. Krisdianto',
 'M.Setyo Sularso',
 'G.J. Latumahina',
 'Cek Ko-po',
 'F. Rahardi',
 'M. Busro',
 'H. Soekarwo',
 'R. Parmono',
 'A. Riyanto',
 'R. Rudjito',
 "Syukron Ma'mun",
 'S. Mengga',
 'Baharuddin R.',
 "Hasyim Asy'ari",
 'Z.A. Maulani',
 'C. Arief',
 'A.A. Yewangoe',
 'D. Djajakusuma',
 "Sholeh Soe'aidy",
 'Nh. Dini',
 'O.C. Kaligis',
 'HJ. Naro',
 'A.M. Fatwa',
 'D. Kumaraswamy',
 'Dr. Retmono',
 'R. Suprapto',
 'R. Soebono',
 "Ghea D'Syawal",
 'Ramadhan K.H.',
 'Ayu-Fani Damayanti',
 'M. Warsianto',
 'Sofia W.D.',
 'Mentari (aktris)',
 "O'ong Maryono",
 'A. Damhoeri',
 'G.A. Siwabessy',
 'S. Bono',
 "H. Ma'soem",
 'T.B. Simatupang',
 'A.Z.R. Wenas',
 'I.B. Said',
 'A. Rafiq',
 'D.I. Pandjaitan',
 'Ratmi B-29',
 'K.K. Dheeraj',
 'RMA. Suryasuparta',
 'Cornelis M.H.',
 'Kasman K.S.',
 'H.M.A. Tihami',
 'M. Irfan',
 "Mar'ie Muhammad",
 'L. Inata',
 'M. Koderi',
 'M.R. Dayoh',
 'M. Isnaini',
 'M.T. Risyaf',
 "Syamsul Mu'arif",
 'A.N. Alcaff',
 'Nurdin B.S.',
 'Mahyuddin N.S',
 'L.T. Handoko',
 'R. Soehadi',
 "Mohammad Ma'ruf",
 'K.M.A. Usop',
 'Sulaiman Ar-Rasuli',
 'Muammar Z.A.',
 'A.R. Soehoed',
 'Donald Wailan-Walalangi',
 'S. Kabo',
 "Daud Beureu'eh",
 'M. Hasan',
 'R. Kadaroesman',
 'A.S. Dharta',
 "Rofi' Munawar",
 'R. Soerjono',
 'M. Sanif',
 'Y. Wibowo',
 'R. Sutiyoso',
 "Musa Asy'arie",
 "Achmad Noe'man",
 'M. Ridwan',
 'Sri Mara-Wijayottunggawarman',
 'S. Herawati',
 "Jez O'Hare",
 'Lin Bing-chao',
 'M. Basri',
 'RJ. Katamsi',
 'Han Ji-Ho',
 'Surachman RM.',
 'Artati Marzuki-Sudirdjo',
 'A.A. Hamidhan',
 "Usman Ja'far",
 'M. Jusuf',
 "Sakdiyah Ma'ruf",
 "Anas Ma'ruf",
 'R. Pramono',
 'Li-yang Lee',
 'R. Syamsudin',
 'A.M. Hanafi',
 "Afifah Ifah'nda",
 'M. Warsianto',
 'Muntaha Al-Hafizh',
 'T.B. Silalahi',
 'Tintus Arianto-Wibowo',
 "Sholeh Soe'aidy",
 'Aji di-Langgar',
 'Ramadhan K.H.',
 'C. Arief',
 'Hamzah al-Fansuri',
 "Soedjana Sapi'ie",
 'M.R. Dayoh',
 'B. Soelarto',
 'E.G. Singgih',
 'M. Hasan',
 'Salim (pelukis)',
 'L. Inata',
 'B.Z. Kadaryono',
 'K.S. Kostaman',
 'M. Romahurmuziy',
 "Afif Syafi'i",
 'R. Rudjito',
 "Achmad Noe'man",
 'BM. Syamsudin',
 'H.S. Dillon',
 'R.A. Kosasih',
 'Arnold (militer)',
 'H.M.A. Tihami',
 'L.T. Handoko',
 "Usman Ja'far",
 "Anas Ma'ruf",
 'H.G. Rorimpandey',
 'Surachman RM.',
 'S. Kabo',
 "Ghea D'Syawal",
 'M. Zainudin',
 'M. Balfas',
 'G.H. Mantik',
 'S. Herawati',
 'R. Soebijakto',
 'R. Sutiyoso',
 'Alam (penyanyi)',
 'M. Shariefuddin',
 'J. Panglaykim',
 'Betet (pelawak)',
 'E.E. Mangindaan',
 'R. Iskak',
 "Mar'ie Muhammad",
 'R. Hartono',
 'RMA. Suryasuparta',
 'A. Rafiq',
 'R. Syamsudin',
 'Saidi Butar-Butar',
 'Mahyuddin N.S',
 'E.A. Mangindaan',
 'R. Pramono',
 'G.A. Siwabessy',
 'Surono (geolog)',
 'M. Ramlan',
 'Andy /rif',
 'R. Samadikun',
 'S. Bono',
 'M. Sanif',
 'Seno (musisi)',
 'A. Kasoem',
 'Sofia W.D.',
 'Karjo AC-DC',
 'K.M.A. Usop',
 'Franz Magnis-Suseno',
 'K.K. Dheeraj',
 'Moh. Ruslan',
 'A.M. Fatwa',
 'A. Damhoeri',
 'E.S. Ito',
 'M.A. Rachman',
 'R. Widodo',
 'A. Palioi',
 'Moh. Ruslan',
 'Karjo AC-DC',
 'B.Z. Kadaryono',
 'P.R. Telaumbanua',
 'Nh. Dini',
 'A.M. Hanafi',
 'M.Setyo Sularso',
 "Rofi' Munawar",
 'Tamsil (diplomat)',
 "Abdullah Syafi'i",
 "H. Ma'soem",
 'Erizal A.S.',
 'Mansyur S.',
 'S.A.E. Nababan',
 'B.W. Lapian',
 'R. Soehadi',
 'Unang (pelawak)',
 'A. Riyanto',
 'F.L. Anthing',
 "Feriansyah Mas'ud",
 'R. Soerjono',
 'P.R. Telaumbanua',
 'Indro (Warkop)',
 'Joesoef Sou’yb',
 'Artati Marzuki-Sudirdjo',
 'M. Sarbini',
 'S. Poniman',
 "Afifah Ifah'nda",
 'R. Goenawan',
 'Y. Wibowo',
 'R. Soebono',
 'H. Salzwedel',
 'A.S. Dharta',
 'I.B. Said',
 'A. Kembara',
 'Nurdin B.S.',
 'K.R.T. Hardjonagoro',
 'A.M. Saefuddin',
 'Melinda (penyanyi)',
 'Pratikno (akademisi)',
 'A.A. Hamidhan',
 'Sulaiman Ar-Rasuli',
 'R.S. Subijakto',
 'A. Palioi',
 'R.A. Srimulat',
 'R. Soeprapto',
 'A.R. Soehoed',
 "Sakdiyah Ma'ruf",
 'Polo (pelawak)',
 'Kasman K.S.',
 'M. Busro',
 'Cek Ko-po',
 'M. Basri',
 'Fauzie As’Ad',
 'M. Nasroen',
 "O'ong Maryono",
 'D. Djajakusuma',
 'Ishadi S.K.',
 'S. Bagio',
 "Ilyas Ya'kub",
 'M. Syaaf',
 'M. Ridwan',
 "Mohammad Ma'ruf",
 'Soebandrio (TNI-AU)',
 'Sultan Lingga-Riau',
 'Tb. Maulana Husni',
 'Isaak "Tjaak" Pattiwael',
 "Abu Bakar Ba'asyir",
 'Theo L. Sambuaga',
 'M. Machmud Notonindito',
 'Zamrony M. Dun',
 'A. Kohar Ibrahim',
 'Muhidin M. Said',
 'Salman Jalil al-Banjari',
 'A. M. Munardi',
 'Muhammad Ilyas (menteri)',
 'B. M. Diah',
 'Endang S. Taurina',
 'Adhicipta R. Wirawan',
 'Felix C. Sutanto',
 'Ahlan B. Razif',
 'M. Gunawan Yasni',
 'Elprisdat M. Zen',
 'Fadia A. Rafiq',
 'Christopher V. Warren',
 'M. Nur Iskandar',
 'Mh. Rustandi Kartakusuma',
 'Ria N. Badaria',
 'Ahmad Jamhuri al-Banjari',
 'Dali S. Naga',
 'M. Basri Sidehabi',
 'R. Mas Sewaka',
 "Nya' Abbas Akup",
 'Habib Munzir Al-Musawa',
 'Andry W. Bastam',
 'Harijadi S. Hartowardoyo',
 'F. Djoko Poerwoko',
 'Irvan S. Kartawiria',
 'MH. Rustandi Kartakusuma',
 'Ramon Y. Tungka',
 'Abdul Latief (pengusaha)',
 'Sutan M. Hutagalung',
 'Soedjono C. Atmonegoro',
 'Leila S. Chudori',
 'C. J. Rantung',
 'Budi P. Hatees',
 'Muhamad Effendi Al-Eydrus',
 'M. Goodwill Zubir',
 'Erison J. Kambari',
 'Rachman Kili-kili Taliak',
 'Salim A. Fillah',
 'I.G. Putu Wijamahadi',
 'M. Akib Latuconsina',
 'Mely G. Tan',
 'Udo Z. Karzi',
 'Henry L. Duarte',
 'F. Budi Hardiman',
 'HM. Tata Endrataka',
 'Dwi A. P.',
 'Adra P. Daniel',
 'M. Ali Yacob',
 'R.Y. Perry Burhan',
 'A. M. Sipahoetar',
 'F.X. Mudji Sutrisno',
 'Y. Rudy Sulistyanto',
 'Johnny FP. Sitompul',
 'M. Thahir Saimima',
 'Loetan St. Toenaro',
 'Muhammad Afif al-Banjari',
 'Suryo B. Sulisto',
 'Rifat S. Fachir',
 'Adrian B. Lapian',
 'M. Alfan Baharudin',
 'F. L. Anthing',
 'Solihin G. P.',
 'M. Amin Abdullah',
 'Jack J. Sompotan',
 'A. K. Johannes',
 'Fita A. Ilham',
 'M. Saleh Mustafa',
 "Oemi Hani'in Suseno",
 'Yuli S. Fitriana',
 'Singgih (jaksa agung)',
 'A. Manaf Lubis',
 'J. Soedjati Djiwandono',
 'Jajang C. Noer',
 'Harun Al-Rasjid Zain',
 'Theo L. Sambuaga',
 'Roy B.B. Janis',
 'A. Faridz Washington',
 'M. Harpin Ondeh',
 'M. S. Kaban',
 'Abdul Karim Al-Banjari',
 'Moh. Said Reksohadiprodjo',
 'Sofia A. Rachman',
 'Yahya A. Muhaimin',
 'A. Edwin Kawilarang',
 'Nadiah M. Hassan',
 'Abdul Latief (kolonel)',
 'Asep S. Sambodja',
 'Suroso (pesepak bola)',
 'Hasan Basri (ulama)',
 'M. Zainul Majdi',
 'B. W. Lapian',
 'A. Kohar Ibrahim',
 'Saleh P. Daulay',
 'Gc (7 Icons)',
 'Lexie M. Giroth',
 'Onno W. Purbo',
 'Sayed Jafar Al-Idrus',
 'Ragdi F. Daye',
 'M. H. Lukman',
 'Shanti L. Poesposoetjipto',
 'J. A. Katili',
 "As'ad Samsul Arifin",
 'M. Husseyn Umar',
 'Rini S. Bono',
 'R.A. Wiranatakusumah II',
 'Abdus Samad al-Palimbani',
 'M. Shadiq Pasadigoe',
 'Aoh K. Hadimaja',
 'Mangara M. Siahaan',
 'Tony A. Rompis',
 'M. Saleh Latuconsina',
 'M. Zen Gomo',
 'Dami N. Toda',
 'Fritz G. Schadt',
 'Ronny P. Tjandra',
 'Ebiet G. Ade',
 'Miftahur Rahman El-Banjary',
 'M. Pandji Anom',
 'Silva R. Kavadia',
 'T. B. Simatupang',
 'A. Murady Darmansjah',
 'Maman S. Mahayana',
 'H.R. Wasita Kusumah',
 'Aladin S. Mengga',
 'Imam B. Prasodjo',
 'A. M. Hendropriyono',
 'Noorca M. Massardi',
 'Umar Dt. Garang',
 'Freddy P. Zen',
 'Muhammad Dimyathi al-Bantani',
 'Salim S. Mengga',
 'Sena A. Utoyo',
 'M. Fauzi Saleh',
 'Conny R. Semiawan',
 'Andy F. Noya',
 "Jerry In't Veld",
 'H. Tjut Djalil',
 'M. Rizki Mirzamah',
 'Francisca C. Fanggidaej',
 'Hasanuddin Z. Arifin',
 'A. T. Mahmud',
 'Widodo A. S.',
 'Ahmad Syathibi al-Qonturi',
 'Magusing O. Bungai',
 'Z. Mawardi Effendi',
 'D. N. Aidit',
 'A. Hamid Arief',
 'Jamal D. Rahman',
 'Djoko Santoso (akademisi)',
 'Ags. Arya Dipayana',
 'Soedarsono, Bupati Jombang',
 'M. Machmud Notonindito',
 'M. Busyro Muqoddas',
 'Abdulrahman Saleh (pahlawan)',
 'Hasballah M. Saad',
 'R. Gatot Suprapto',
 "Nu'man Abdul Hakim",
 'J. Soedradjad Djiwandono',
 'Suprapto (gubernur Bengkulu)',
 'Arry B. Wibowo',
 'Abdul Wahid Ash-Shalihi',
 'Jamaluddin Akbar al-Husaini',
 'S. Olvah Alhamid',
 'Salim Segaf Al-Jufri',
 'Fajar J. Ekaputra',
 'Joseph S. Djafar',
 'Soekarno M. Noer',
 'Murad U. Nasir',
 'Abdul Halim (1887-1962)',
 'Dadang M. Nasser',
 'Hanny R. Saputra',
 'M. Satrio Utomo',
 'Fransen G. Siahaan',
 "Hasan Mutawakkil 'Alallah",
 'Mus K. Wirya',
 'M. Arief Budiman',
 "Zainut Tauhid Sa'adi",
 'Tere Liye (penulis)',
 'Warsito (Gubernur NTB)',
 "Muhammad Yusuf Asy'ari",
 'Elvyn G. Masassya',
 'Muhammad Subki Al-Bughury',
 'Burhanuddin A. Rasyid',
 'M. Zainal Haq',
 'Abdul Hadi (aktor)',
 'M. Fuad Basya',
 "Illiza Sa'aduddin Djamal",
 "Mu'min Ainul Mubarak",
 'Anwar St. Pamoentjak',
 'Sidik W. Martowidjojo',
 'Arthur S. Nalan',
 'Hendra Gunawan (pelukis)',
 'Parakitri T. Simbolon',
 'Ismet D. Tahir',
 'J. B. Sumarlin',
 'Lie A. Dharmawan',
 "Muhammad Syafi'i Hadzami",
 'Achdiat K. Mihardja',
 'A. A. Puspayoga',
 'M. Nasir Majid',
 'Ismed M. Noor',
 'F.X. Arif Adimoelja',
 'D. Zawawi Imron',
 'Bustami A. Gani',
 'M. Yasin Limpo',
 'Agung H. Soehedi',
 'W. D. Mochtar',
 'A. Riski Sadig',
 'Nancy K. Florida',
 'F.X. Yanuar Wahyu',
 'Aceng H.M. Fikri',
 'R. Edi Surjanto',
 'M. Dzikri Afdholi',
 'M. Rozy Munir',
 'Y. B. Mangunwijaya',
 'Lisa A. Riyanto',
 'Muhammad Arifin Al-Arsyadi',
 'Gideon V. Way',
 'M. Atok Urrahman',
 'S. K. Trimurti',
 'Theresia S. Abraham',
 'F.X. Hadi Rudyatmo',
 'Vedi R. Hadiz',
 'Didik J. Rachbini',
 'S. Poniman (aktor)',
 'Niniek L. Karim',
 'M. T. Haryono',
 'Hamidy T. Djamil',
 'Arifin C. Noer',
 'Nian S. Djoemena',
 'Bonny Z. Minang',
 'Indra Prasta (musisi)',
 "Ali Musthafa Ya'qub",
 "Muhammad Nu'man Somantri",
 "Abu Bakar Ba'asyir",
 'Tb. Maulana Husni',
 'M. Djali Yusuf',
 'Timotheus L. Wignyosubroto',
 'Harifin A. Tumpa',
 'Willibrordus S. Rendra',
 'Boy G. Sakti',
 'M.J. Hans Taihuttu',
 'A.Tee (7 Icons)',
 'Peter F. Gontha',
 "Agus Arifin Nu'mang",
 'Bernadette N. Setiadi',
 "Ja'far Umar Thalib",
 'Iravati M. Sudiarso',
 'M. Syukur Ramadan',
 'Aboe Bakar Al-Habsyi',
 "Mohammad Syafa'at Mintaredja",
 'A. M. Tambunan',
 'Arton S. Dohong',
 'Mawardi Labay El-Sulthani',
 'Agus R. Sarjono',
 'Eddy D. Iskandar',
 'M. Natshir Mahbuby',
 "Mohammad Atho' Mudzhar",
 'Mulyana W. Kusumah',
 'M. Hariadi Nasution',
 'Suminto A. Sayuti',
 'H. S. Dillon',
 "Muhammad Thoha Ma'ruf",
 "Ahmad Syafi'i Maarif",
 'Indra J. Piliang',
 'Andung A. Nitimiharja',
 'Muhammad A.S. Hikam',
 'Johny L. Tobing',
 'Abdul Samad Al-Falimbani',
 'James F. Sundah',
 'Albert C. Sutanto',
 'P. K. Ojong',
 'W. S. Rendra',
 'Isaak "Tjaak" Pattiwael',
 'Yan D. Ruatakurey',
 'Hajriyanto Y. Thohari',
 'Muhammad Waly Al-Khalidy',
 'Pj (7 Icons)',
 'Zamrony M. Dun',
 'Sofian Effendi (akademisi)',
 'Jajang (sepak bola)',
 'Ginatri S. Noer',
 'Harsja W. Bachtiar',
 'Abu Hanifah (menteri)',
 'Anggun C. Sasmi',
 'Achmad Rifai (pesepakbola)',
 'Abdul Hamid Abulung al-Banjari',
 'M. Fadli (pebalap motor)',
 'Ras Rendro Bowo. S',
 'Zulkarnain (pemain sepak bola)',
 'Muhammad Iqbal (anggota KPPU)',
 'Aloysius Josef G. Dibjokarjono',
 'Ratna Sarita (Aktris Indonesia)',
 'Marzuki Dt. Mangulak Basa',
 'Prof. Dr. R. Widyopramono',
 'M. Harun Muda Indrajaya',
 'M. Azwir Dainy Tara',
 'F. Henry Bambang Soelistyo',
 'Hermawan (pemain sepak bola)',
 'Sayed Abubakar A. Assegaf',
 'Ali bin Husein al-Attas',
 'Muhammad Syarwani Abdan Al-Banjari',
 'K. P. H. Notoprojo',
 'A. A Gde Suardhana',
 'Marselinus Y. W. Petu',
 'Prof. Mr. Soejono Hadinoto',
 'R.B. Khatib Pahlawan Kayo',
 'Chairul Naim M. Anik',
 'Muhammad Yusuf Saigon al-Banjari',
 'Syeikh Musthafa Husein Al-Mandili',
 'J. F. X. Hoery',
 'Ibnu Aqil D. Ghani',
 'Munzir bin Fuad Al-Musawa',
 'Dominique Sanda (aktris Indonesia)',
 'Abdul Rahman Saleh (jaksa)',
 'Sumarno (gubernur Sumatera Selatan)',
 'E.H. Nizar Datuk Kayo',
 'Ardana (pemain sepak bola)',
 'Frans G. Hu Kon',
 'A. Patra M. Zen',
 "Hasan bin Ja'far Assegaf",
 'Ali bin Abdurrahman al-Habsyi',
 'Hendrikus V. "Henk" Zomers',
 'Syekh Ahmad Syathibi al-Qonturi',
 "Anang Sya'rani Arif al-Banjari",
 'Mulyadi (pemain sepak bola)',
 'Syafrudin (pemain sepak bola)',
 'Wahyu NH. Al Aly',
 'Bando Amin C. Kader',
 'Muhammad Husni Thamrin Al-Banjari',
 'Harun Al-Rasyid Sutan Bandaro',
 'Oktavianus (pemain sepak bola)',
 'Ismail Marzuki (pesepak bola)',
 'Syaikh Achmad Khotib Al-Syambasi',
 'M. Zeet Hamdy Assovie',
 'Abdul Kahar (pemain tenis)',
 'Muhammad Iqbal (The Changcuters)',
 'Abu Dujana (Jemaah Islamiyah)',
 'Idrus bin Salim al-Jufri',
 'Abdul Hamid Abulung al-Banjari',
 "Habib Abdoe'r Rahman Alzahier",
 'R. Soeprapto (jaksa agung)',
 'S. Antonius Budi Ariantho',
 'Suwandi (pemain sepak bola)',
 'Abdul Aziz (politikus Indonesia)',
 'Z. A. St. Pangeran',
 'Firmansyah (pesepakbola kelahiran 1984)',
 'Muhammad bin Ahmad al-Muhdhar',
 'Harmoko (pemain sepak bola)',
 'Mervin I. Sadipun Komber',
 'A.A.A. Putu Oka Dewi Iriani',
 'Sulaiman bin Abdullah bin al-Basir',
 'H. C. P. de Vos',
 'M. Sayuti Datuak Rajo Panghulu',
 "Habib Ja'far bin Syaikhon Assegaf",
 'Tuanku Bagindo H. Muhammad Leter',
 'Syekh Tubagus Ahmad Bakri as-Sampuri',
 "Ali Abdul Jalil Syaifuddin Ba'alawi",
 'I. B. Rai Dharmawijaya Mantra',
 'Mansoer Daoed Dt. Palimo Kayo',
 'Habib Anis bin Alwi al-Habsyi',
 'Abu Bakar (bupati Bandung Barat)',
 'Muhammad Arsyad (pemain sepak bola)',
 'Muhammad Hamzah (personil The Fly)',
 'A. A. Ngurah Oka Ratmadi',
 'Firmansyah (pemain sepak bola kelahiran 1995)',
 'Mayjen TNI (Purn) Thomas Albert Umboh',
 'Prof. Dr. Ir. Antonius Suwanto, M.Sc']

While many of these simply have other punctuation, some contain parentheses at the end indicating the individual's job or something else. Since we wouldn't want to count the parentheses as the surname, let's remove them:

In [12]:
df_indo['fullname'] = df_indo['fullname'].apply(lambda name: name if name.find('(') == -1 else name[:name.find('(')])
non_alnum_names_indo = [name for name in df_indo['fullname'] if not str.isalnum(name.replace(' ', ''))]
print(len(non_alnum_names_indo))
non_alnum_names_indo

626

["Asma'i",
 'A.Tee',
 "Sa'duddin",
 'A.Rifai',
 'F.Rahardi',
 'Anne.J.Coto',
 'T-Sha',
 'KPH.Suryakusuma',
 "Syam'un",
 'Sangrama-Vijayottunggawarman',
 'Iwa-K',
 "Anang Ma'ruf",
 'T.B. Silalahi',
 "Daud Beureu'eh",
 'Ipe Ma’aroef',
 'Dorodjatun Kuntjoro-Jakti',
 'E.S. Ito',
 "Soedjana Sapi'ie",
 'M. Dhofir',
 "Mun'im Idris",
 'M. Syaaf',
 "As'ad Humam",
 'R.A. Srimulat',
 'R.M. Suwandi',
 'M. Syarifuddin',
 'Marie-Claire Barth',
 'P.G.O Noordraven',
 'K.P.H. Notoprojo',
 'R. Samadikun',
 'M. Kamri',
 'H. Suwardi',
 'R. Soebekti',
 'R. Hartono',
 'Moch. Badrus',
 'J. Panglaykim',
 'Amran S.N.',
 "Achmad Asj'ari",
 'Mira W.',
 "Ma'ruf Amin",
 'S. Rukiah',
 'BM. Syamsudin',
 'M.A. Rachman',
 'R. Iskak',
 'H. Salzwedel',
 'RJ. Katamsi',
 'R. Soebijakto',
 'E.A. Mangindaan',
 'M. Nasroen',
 "Abdullah Syafi'i",
 'Li-Young Lee',
 'Fauzie As’ad',
 'M. Shariefuddin',
 "Achmad Rifa'i",
 'S.A.E. Nababan',
 "Da'i Bachtiar",
 'M. Zainudin',
 'Ishadi S.K.',
 'S. Bagio',
 'Abdullah Wasi’an',
 'M. Sarbini',
 'W.J. Rumambi',
 'A. Wahab',
 'Adam B.B.',
 'M.H. Lukman',
 'K.S. Kostaman',
 'R.A. Mangkarawati',
 'R.M. Kusmuljono',
 'R.S. Subijakto',
 'H.R. Krisdianto',
 'M.Setyo Sularso',
 'G.J. Latumahina',
 'Cek Ko-po',
 'F. Rahardi',
 'M. Busro',
 'H. Soekarwo',
 'R. Parmono',
 'A. Riyanto',
 'R. Rudjito',
 "Syukron Ma'mun",
 'S. Mengga',
 'Baharuddin R.',
 "Hasyim Asy'ari",
 'Z.A. Maulani',
 'C. Arief',
 'A.A. Yewangoe',
 'D. Djajakusuma',
 "Sholeh Soe'aidy",
 'Nh. Dini',
 'O.C. Kaligis',
 'HJ. Naro',
 'A.M. Fatwa',
 'D. Kumaraswamy',
 'Dr. Retmono',
 'R. Suprapto',
 'R. Soebono',
 "Ghea D'Syawal",
 'Ramadhan K.H.',
 'Ayu-Fani Damayanti',
 'M. Warsianto',
 'Sofia W.D.',
 "O'ong Maryono",
 'A. Damhoeri',
 'G.A. Siwabessy',
 'S. Bono',
 "H. Ma'soem",
 'T.B. Simatupang',
 'A.Z.R. Wenas',
 'I.B. Said',
 'A. Rafiq',
 'D.I. Pandjaitan',
 'Ratmi B-29',
 'K.K. Dheeraj',
 'RMA. Suryasuparta',
 'Cornelis M.H.',
 'Kasman K.S.',
 'H.M.A. Tihami',
 'M. Irfan',
 "Mar'ie Muhammad",
 'L. Inata',
 'M. Koderi',
 'M.R. Dayoh',
 'M. Isnaini',
 'M.T. Risyaf',
 "Syamsul Mu'arif",
 'A.N. Alcaff',
 'Nurdin B.S.',
 'Mahyuddin N.S',
 'L.T. Handoko',
 'R. Soehadi',
 "Mohammad Ma'ruf",
 'K.M.A. Usop',
 'Sulaiman Ar-Rasuli',
 'Muammar Z.A.',
 'A.R. Soehoed',
 'Donald Wailan-Walalangi',
 'S. Kabo',
 "Daud Beureu'eh",
 'M. Hasan',
 'R. Kadaroesman',
 'A.S. Dharta',
 "Rofi' Munawar",
 'R. Soerjono',
 'M. Sanif',
 'Y. Wibowo',
 'R. Sutiyoso',
 "Musa Asy'arie",
 "Achmad Noe'man",
 'M. Ridwan',
 'Sri Mara-Wijayottunggawarman',
 'S. Herawati',
 "Jez O'Hare",
 'Lin Bing-chao',
 'M. Basri',
 'RJ. Katamsi',
 'Han Ji-Ho',
 'Surachman RM.',
 'Artati Marzuki-Sudirdjo',
 'A.A. Hamidhan',
 "Usman Ja'far",
 'M. Jusuf',
 "Sakdiyah Ma'ruf",
 "Anas Ma'ruf",
 'R. Pramono',
 'Li-yang Lee',
 'R. Syamsudin',
 'A.M. Hanafi',
 "Afifah Ifah'nda",
 'M. Warsianto',
 'Muntaha Al-Hafizh',
 'T.B. Silalahi',
 'Tintus Arianto-Wibowo',
 "Sholeh Soe'aidy",
 'Aji di-Langgar',
 'Ramadhan K.H.',
 'C. Arief',
 'Hamzah al-Fansuri',
 "Soedjana Sapi'ie",
 'M.R. Dayoh',
 'B. Soelarto',
 'E.G. Singgih',
 'M. Hasan',
 'L. Inata',
 'B.Z. Kadaryono',
 'K.S. Kostaman',
 'M. Romahurmuziy',
 "Afif Syafi'i",
 'R. Rudjito',
 "Achmad Noe'man",
 'BM. Syamsudin',
 'H.S. Dillon',
 'R.A. Kosasih',
 'H.M.A. Tihami',
 'L.T. Handoko',
 "Usman Ja'far",
 "Anas Ma'ruf",
 'H.G. Rorimpandey',
 'Surachman RM.',
 'S. Kabo',
 "Ghea D'Syawal",
 'M. Zainudin',
 'M. Balfas',
 'G.H. Mantik',
 'S. Herawati',
 'R. Soebijakto',
 'R. Sutiyoso',
 'M. Shariefuddin',
 'J. Panglaykim',
 'E.E. Mangindaan',
 'R. Iskak',
 "Mar'ie Muhammad",
 'R. Hartono',
 'RMA. Suryasuparta',
 'A. Rafiq',
 'R. Syamsudin',
 'Saidi Butar-Butar',
 'Mahyuddin N.S',
 'E.A. Mangindaan',
 'R. Pramono',
 'G.A. Siwabessy',
 'M. Ramlan',
 'Andy /rif',
 'R. Samadikun',
 'S. Bono',
 'M. Sanif',
 'A. Kasoem',
 'Sofia W.D.',
 'Karjo AC-DC',
 'K.M.A. Usop',
 'Franz Magnis-Suseno',
 'K.K. Dheeraj',
 'Moh. Ruslan',
 'A.M. Fatwa',
 'A. Damhoeri',
 'E.S. Ito',
 'M.A. Rachman',
 'R. Widodo',
 'A. Palioi',
 'Moh. Ruslan',
 'Karjo AC-DC',
 'B.Z. Kadaryono',
 'P.R. Telaumbanua',
 'Nh. Dini',
 'A.M. Hanafi',
 'M.Setyo Sularso',
 "Rofi' Munawar",
 "Abdullah Syafi'i",
 "H. Ma'soem",
 'Erizal A.S.',
 'Mansyur S.',
 'S.A.E. Nababan',
 'B.W. Lapian',
 'R. Soehadi',
 'A. Riyanto',
 'F.L. Anthing',
 "Feriansyah Mas'ud",
 'R. Soerjono',
 'P.R. Telaumbanua',
 'Joesoef Sou’yb',
 'Artati Marzuki-Sudirdjo',
 'M. Sarbini',
 'S. Poniman',
 "Afifah Ifah'nda",
 'R. Goenawan',
 'Y. Wibowo',
 'R. Soebono',
 'H. Salzwedel',
 'A.S. Dharta',
 'I.B. Said',
 'A. Kembara',
 'Nurdin B.S.',
 'K.R.T. Hardjonagoro',
 'A.M. Saefuddin',
 'A.A. Hamidhan',
 'Sulaiman Ar-Rasuli',
 'R.S. Subijakto',
 'A. Palioi',
 'R.A. Srimulat',
 'R. Soeprapto',
 'A.R. Soehoed',
 "Sakdiyah Ma'ruf",
 'Kasman K.S.',
 'M. Busro',
 'Cek Ko-po',
 'M. Basri',
 'Fauzie As’Ad',
 'M. Nasroen',
 "O'ong Maryono",
 'D. Djajakusuma',
 'Ishadi S.K.',
 'S. Bagio',
 "Ilyas Ya'kub",
 'M. Syaaf',
 'M. Ridwan',
 "Mohammad Ma'ruf",
 'Sultan Lingga-Riau',
 'Tb. Maulana Husni',
 'Isaak "Tjaak" Pattiwael',
 "Abu Bakar Ba'asyir",
 'Theo L. Sambuaga',
 'M. Machmud Notonindito',
 'Zamrony M. Dun',
 'A. Kohar Ibrahim',
 'Muhidin M. Said',
 'Salman Jalil al-Banjari',
 'A. M. Munardi',
 'B. M. Diah',
 'Endang S. Taurina',
 'Adhicipta R. Wirawan',
 'Felix C. Sutanto',
 'Ahlan B. Razif',
 'M. Gunawan Yasni',
 'Elprisdat M. Zen',
 'Fadia A. Rafiq',
 'Christopher V. Warren',
 'M. Nur Iskandar',
 'Mh. Rustandi Kartakusuma',
 'Ria N. Badaria',
 'Ahmad Jamhuri al-Banjari',
 'Dali S. Naga',
 'M. Basri Sidehabi',
 'R. Mas Sewaka',
 "Nya' Abbas Akup",
 'Habib Munzir Al-Musawa',
 'Andry W. Bastam',
 'Harijadi S. Hartowardoyo',
 'F. Djoko Poerwoko',
 'Irvan S. Kartawiria',
 'MH. Rustandi Kartakusuma',
 'Ramon Y. Tungka',
 'Sutan M. Hutagalung',
 'Soedjono C. Atmonegoro',
 'Leila S. Chudori',
 'C. J. Rantung',
 'Budi P. Hatees',
 'Muhamad Effendi Al-Eydrus',
 'M. Goodwill Zubir',
 'Erison J. Kambari',
 'Rachman Kili-kili Taliak',
 'Salim A. Fillah',
 'I.G. Putu Wijamahadi',
 'M. Akib Latuconsina',
 'Mely G. Tan',
 'Udo Z. Karzi',
 'Henry L. Duarte',
 'F. Budi Hardiman',
 'HM. Tata Endrataka',
 'Dwi A. P.',
 'Adra P. Daniel',
 'M. Ali Yacob',
 'R.Y. Perry Burhan',
 'A. M. Sipahoetar',
 'F.X. Mudji Sutrisno',
 'Y. Rudy Sulistyanto',
 'Johnny FP. Sitompul',
 'M. Thahir Saimima',
 'Loetan St. Toenaro',
 'Muhammad Afif al-Banjari',
 'Suryo B. Sulisto',
 'Rifat S. Fachir',
 'Adrian B. Lapian',
 'M. Alfan Baharudin',
 'F. L. Anthing',
 'Solihin G. P.',
 'M. Amin Abdullah',
 'Jack J. Sompotan',
 'A. K. Johannes',
 'Fita A. Ilham',
 'M. Saleh Mustafa',
 "Oemi Hani'in Suseno",
 'Yuli S. Fitriana',
 'A. Manaf Lubis',
 'J. Soedjati Djiwandono',
 'Jajang C. Noer',
 'Harun Al-Rasjid Zain',
 'Theo L. Sambuaga',
 'Roy B.B. Janis',
 'A. Faridz Washington',
 'M. Harpin Ondeh',
 'M. S. Kaban',
 'Abdul Karim Al-Banjari',
 'Moh. Said Reksohadiprodjo',
 'Sofia A. Rachman',
 'Yahya A. Muhaimin',
 'A. Edwin Kawilarang',
 'Nadiah M. Hassan',
 'Asep S. Sambodja',
 'M. Zainul Majdi',
 'B. W. Lapian',
 'A. Kohar Ibrahim',
 'Saleh P. Daulay',
 'Lexie M. Giroth',
 'Onno W. Purbo',
 'Sayed Jafar Al-Idrus',
 'Ragdi F. Daye',
 'M. H. Lukman',
 'Shanti L. Poesposoetjipto',
 'J. A. Katili',
 "As'ad Samsul Arifin",
 'M. Husseyn Umar',
 'Rini S. Bono',
 'R.A. Wiranatakusumah II',
 'Abdus Samad al-Palimbani',
 'M. Shadiq Pasadigoe',
 'Aoh K. Hadimaja',
 'Mangara M. Siahaan',
 'Tony A. Rompis',
 'M. Saleh Latuconsina',
 'M. Zen Gomo',
 'Dami N. Toda',
 'Fritz G. Schadt',
 'Ronny P. Tjandra',
 'Ebiet G. Ade',
 'Miftahur Rahman El-Banjary',
 'M. Pandji Anom',
 'Silva R. Kavadia',
 'T. B. Simatupang',
 'A. Murady Darmansjah',
 'Maman S. Mahayana',
 'H.R. Wasita Kusumah',
 'Aladin S. Mengga',
 'Imam B. Prasodjo',
 'A. M. Hendropriyono',
 'Noorca M. Massardi',
 'Umar Dt. Garang',
 'Freddy P. Zen',
 'Muhammad Dimyathi al-Bantani',
 'Salim S. Mengga',
 'Sena A. Utoyo',
 'M. Fauzi Saleh',
 'Conny R. Semiawan',
 'Andy F. Noya',
 "Jerry In't Veld",
 'H. Tjut Djalil',
 'M. Rizki Mirzamah',
 'Francisca C. Fanggidaej',
 'Hasanuddin Z. Arifin',
 'A. T. Mahmud',
 'Widodo A. S.',
 'Ahmad Syathibi al-Qonturi',
 'Magusing O. Bungai',
 'Z. Mawardi Effendi',
 'D. N. Aidit',
 'A. Hamid Arief',
 'Jamal D. Rahman',
 'Ags. Arya Dipayana',
 'Soedarsono, Bupati Jombang',
 'M. Machmud Notonindito',
 'M. Busyro Muqoddas',
 'Hasballah M. Saad',
 'R. Gatot Suprapto',
 "Nu'man Abdul Hakim",
 'J. Soedradjad Djiwandono',
 'Arry B. Wibowo',
 'Abdul Wahid Ash-Shalihi',
 'Jamaluddin Akbar al-Husaini',
 'S. Olvah Alhamid',
 'Salim Segaf Al-Jufri',
 'Fajar J. Ekaputra',
 'Joseph S. Djafar',
 'Soekarno M. Noer',
 'Murad U. Nasir',
 'Dadang M. Nasser',
 'Hanny R. Saputra',
 'M. Satrio Utomo',
 'Fransen G. Siahaan',
 "Hasan Mutawakkil 'Alallah",
 'Mus K. Wirya',
 'M. Arief Budiman',
 "Zainut Tauhid Sa'adi",
 "Muhammad Yusuf Asy'ari",
 'Elvyn G. Masassya',
 'Muhammad Subki Al-Bughury',
 'Burhanuddin A. Rasyid',
 'M. Zainal Haq',
 'M. Fuad Basya',
 "Illiza Sa'aduddin Djamal",
 "Mu'min Ainul Mubarak",
 'Anwar St. Pamoentjak',
 'Sidik W. Martowidjojo',
 'Arthur S. Nalan',
 'Parakitri T. Simbolon',
 'Ismet D. Tahir',
 'J. B. Sumarlin',
 'Lie A. Dharmawan',
 "Muhammad Syafi'i Hadzami",
 'Achdiat K. Mihardja',
 'A. A. Puspayoga',
 'M. Nasir Majid',
 'Ismed M. Noor',
 'F.X. Arif Adimoelja',
 'D. Zawawi Imron',
 'Bustami A. Gani',
 'M. Yasin Limpo',
 'Agung H. Soehedi',
 'W. D. Mochtar',
 'A. Riski Sadig',
 'Nancy K. Florida',
 'F.X. Yanuar Wahyu',
 'Aceng H.M. Fikri',
 'R. Edi Surjanto',
 'M. Dzikri Afdholi',
 'M. Rozy Munir',
 'Y. B. Mangunwijaya',
 'Lisa A. Riyanto',
 'Muhammad Arifin Al-Arsyadi',
 'Gideon V. Way',
 'M. Atok Urrahman',
 'S. K. Trimurti',
 'Theresia S. Abraham',
 'F.X. Hadi Rudyatmo',
 'Vedi R. Hadiz',
 'Didik J. Rachbini',
 'S. Poniman ',
 'Niniek L. Karim',
 'M. T. Haryono',
 'Hamidy T. Djamil',
 'Arifin C. Noer',
 'Nian S. Djoemena',
 'Bonny Z. Minang',
 "Ali Musthafa Ya'qub",
 "Muhammad Nu'man Somantri",
 "Abu Bakar Ba'asyir",
 'Tb. Maulana Husni',
 'M. Djali Yusuf',
 'Timotheus L. Wignyosubroto',
 'Harifin A. Tumpa',
 'Willibrordus S. Rendra',
 'Boy G. Sakti',
 'M.J. Hans Taihuttu',
 'A.Tee ',
 'Peter F. Gontha',
 "Agus Arifin Nu'mang",
 'Bernadette N. Setiadi',
 "Ja'far Umar Thalib",
 'Iravati M. Sudiarso',
 'M. Syukur Ramadan',
 'Aboe Bakar Al-Habsyi',
 "Mohammad Syafa'at Mintaredja",
 'A. M. Tambunan',
 'Arton S. Dohong',
 'Mawardi Labay El-Sulthani',
 'Agus R. Sarjono',
 'Eddy D. Iskandar',
 'M. Natshir Mahbuby',
 "Mohammad Atho' Mudzhar",
 'Mulyana W. Kusumah',
 'M. Hariadi Nasution',
 'Suminto A. Sayuti',
 'H. S. Dillon',
 "Muhammad Thoha Ma'ruf",
 "Ahmad Syafi'i Maarif",
 'Indra J. Piliang',
 'Andung A. Nitimiharja',
 'Muhammad A.S. Hikam',
 'Johny L. Tobing',
 'Abdul Samad Al-Falimbani',
 'James F. Sundah',
 'Albert C. Sutanto',
 'P. K. Ojong',
 'W. S. Rendra',
 'Isaak "Tjaak" Pattiwael',
 'Yan D. Ruatakurey',
 'Hajriyanto Y. Thohari',
 'Muhammad Waly Al-Khalidy',
 'Zamrony M. Dun',
 'Ginatri S. Noer',
 'Harsja W. Bachtiar',
 'Anggun C. Sasmi',
 'Abdul Hamid Abulung al-Banjari',
 'M. Fadli ',
 'Ras Rendro Bowo. S',
 'Aloysius Josef G. Dibjokarjono',
 'Marzuki Dt. Mangulak Basa',
 'Prof. Dr. R. Widyopramono',
 'M. Harun Muda Indrajaya',
 'M. Azwir Dainy Tara',
 'F. Henry Bambang Soelistyo',
 'Sayed Abubakar A. Assegaf',
 'Ali bin Husein al-Attas',
 'Muhammad Syarwani Abdan Al-Banjari',
 'K. P. H. Notoprojo',
 'A. A Gde Suardhana',
 'Marselinus Y. W. Petu',
 'Prof. Mr. Soejono Hadinoto',
 'R.B. Khatib Pahlawan Kayo',
 'Chairul Naim M. Anik',
 'Muhammad Yusuf Saigon al-Banjari',
 'Syeikh Musthafa Husein Al-Mandili',
 'J. F. X. Hoery',
 'Ibnu Aqil D. Ghani',
 'Munzir bin Fuad Al-Musawa',
 'E.H. Nizar Datuk Kayo',
 'Frans G. Hu Kon',
 'A. Patra M. Zen',
 "Hasan bin Ja'far Assegaf",
 'Ali bin Abdurrahman al-Habsyi',
 'Hendrikus V. "Henk" Zomers',
 'Syekh Ahmad Syathibi al-Qonturi',
 "Anang Sya'rani Arif al-Banjari",
 'Wahyu NH. Al Aly',
 'Bando Amin C. Kader',
 'Muhammad Husni Thamrin Al-Banjari',
 'Harun Al-Rasyid Sutan Bandaro',
 'Syaikh Achmad Khotib Al-Syambasi',
 'M. Zeet Hamdy Assovie',
 'Idrus bin Salim al-Jufri',
 'Abdul Hamid Abulung al-Banjari',
 "Habib Abdoe'r Rahman Alzahier",
 'R. Soeprapto ',
 'S. Antonius Budi Ariantho',
 'Z. A. St. Pangeran',
 'Muhammad bin Ahmad al-Muhdhar',
 'Mervin I. Sadipun Komber',
 'A.A.A. Putu Oka Dewi Iriani',
 'Sulaiman bin Abdullah bin al-Basir',
 'H. C. P. de Vos',
 'M. Sayuti Datuak Rajo Panghulu',
 "Habib Ja'far bin Syaikhon Assegaf",
 'Tuanku Bagindo H. Muhammad Leter',
 'Syekh Tubagus Ahmad Bakri as-Sampuri',
 "Ali Abdul Jalil Syaifuddin Ba'alawi",
 'I. B. Rai Dharmawijaya Mantra',
 'Mansoer Daoed Dt. Palimo Kayo',
 'Habib Anis bin Alwi al-Habsyi',
 'A. A. Ngurah Oka Ratmadi',
 'Prof. Dr. Ir. Antonius Suwanto, M.Sc']

(There may be titles that we have to remove. Come back to this later)

Now, let's separate the names into their family and given names. For now, we'll define the given name as the part of the name before the first space and the family name as the part of the name following the last space. Let's first assign values to `Given name`:

In [13]:
df_indo['Given name'] = df_indo['fullname'].apply(lambda name: name if name.find(' ') == -1 else name[:name.find(' ')])
df_indo

,fullname,Family name,Given name
0,Donita,NaN,Donita
1,Supriyadi,NaN,Supriyadi
2,Triyaningsih,NaN,Triyaningsih
3,Soerjadi,NaN,Soerjadi
4,Undunsyah,NaN,Undunsyah
...,...,...,...
15076,Mayjen TNI,NaN,Mayjen
15077,Sultan Amaluddin Al Sani Perkasa Alamsyah,NaN,Sultan
15078,"Prof. Dr. Ir. Antonius Suwanto, M.Sc",NaN,Prof.
15079,Kanjeng Raden Tumengung Mas Ariya Purnama Hadi...,NaN,Kanjeng
15080,Lord Kanjeng Baginda Atep Bin Lord Dari Segala...,NaN,Lord

Assigning values to `Family name`:

In [14]:
df_indo['Family name'] = df_indo['fullname'].apply(lambda name: np.nan if name.find(' ') == -1 else name[name.rfind(' ')+1:])
df_indo

,fullname,Family name,Given name
0,Donita,NaN,Donita
1,Supriyadi,NaN,Supriyadi
2,Triyaningsih,NaN,Triyaningsih
3,Soerjadi,NaN,Soerjadi
4,Undunsyah,NaN,Undunsyah
...,...,...,...
15076,Mayjen TNI,,Mayjen
15077,Sultan Amaluddin Al Sani Perkasa Alamsyah,Alamsyah,Sultan
15078,"Prof. Dr. Ir. Antonius Suwanto, M.Sc",M.Sc,Prof.
15079,Kanjeng Raden Tumengung Mas Ariya Purnama Hadi...,Hadiningrat,Kanjeng
15080,Lord Kanjeng Baginda Atep Bin Lord Dari Segala...,Bendtner,Lord

(Maybe we should have the middle names too?)

### Cleaning Malay Dataset

Let's look at the Malay dataset now:

In [15]:
df_malay = pd.read_excel('name_data/exigerData/EXGR_Malay names.xlsx')
df_malay.head()

,Unnamed: 0,fullname,Family name,Given name
0,http://www.wikidata.org/entity/Q4769705,Annuar Rapaee,NaN,NaN
1,http://www.wikidata.org/entity/Q31186972,Tash Yong,NaN,NaN
2,http://www.wikidata.org/entity/Q468519,Fatmawati,NaN,NaN
3,http://www.wikidata.org/entity/Q4736793,Alto Linus,NaN,NaN
4,http://www.wikidata.org/entity/Q28837179,Mohamad Izzat Abdul Halil,NaN,NaN

Removing unnamed column:

In [16]:
df_malay.drop(columns = 'Unnamed: 0', inplace = True)
df_malay.head()

                    fullname  Family name  Given name
0              Annuar Rapaee          NaN         NaN
1                  Tash Yong          NaN         NaN
2                  Fatmawati          NaN         NaN
3                 Alto Linus          NaN         NaN
4  Mohamad Izzat Abdul Halil          NaN         NaN

Handling duplicate values:

In [17]:
# Checking for duplicate entries
print(len(df_malay.duplicated()))

4930

In [18]:
# Removing duplicate entries
df_malay.drop_duplicates(inplace = True, ignore_index = True)
print(np.any(df_malay.duplicated()))

False

Are any names non-alphanumeric aside from spaces?

In [19]:
non_alnum_names_malay = [name for name in df_malay['fullname'] if not str.isalnum(name.replace(' ', ''))]
print(len(non_alnum_names_malay))
non_alnum_names_malay

200

['Ling Ban San @ Teng Boon Soon',
 'Zulkifeli Mohd. Zin',
 'Raja Tun Uda Al-Haj bin Raja Muhammad',
 'P. Ramlee',
 'S. Hamid',
 'Rueben Thevandran a/l Ramanath',
 'Nora (penyanyi)',
 'Tunku Alif Hussein Saifuddin Al-Amin',
 'Soekarno M. Noer',
 'M. Kulasegaran V. Murugeson',
 'M.Asojan a/l Muniyandy',
 'K. Rajagopal',
 'Afifi al-Akiti',
 "Mohd Shahril Saa'ri",
 'Md. Jais Bin Haji Sarday',
 'K. Gurusamy',
 'Sivarasa K. Rasiah',
 'Abdullah C.D',
 'Raveentharan a/l V. Subramaniam',
 'Jajang C. Noer',
 'Devamany S. Krishnasamy',
 'Imam Bonjol,Tuanku',
 'K. Sasi Kumar',
 'N. Surendran',
 'Zainal Abidin Ahmad (PKR)',
 'Wan Syuhada Md. Amin',
 'M. Manogaran',
 'S. Manikumar',
 'Rustam A. Sani',
 'Zulkifli Mohamad Al-Bakri',
 'Manoharan A/L Malayalam',
 'Wan Mohammad Khair-il Anuar Wan Ahmad',
 'M. G. Pandithan',
 'Abdullah @ Md. Khalid bin Md. Ali',
 'P. Uthayakumar',
 'G. Palanivel',
 'P. G. Lim',
 'S. Subramaniam',
 'Sultan Abdul Jalil Nasruddin Muhtaram Shah ibni al-Marhum Sultan Idris Murshidul Aadzam Shah',
 'Wong B. K.',
 'M.P. Drahaman',
 'D.R.Seenivasagam',
 'Dian P. Ramlee',
 'Abd. Hamid bin Haji Abd. Rahman',
 'Aziz M. Osman',
 'Tahir bin Mohd. Taat',
 'A. Rahman Hassan',
 'Farish A. Noor',
 'Rahim B.',
 'S. Vijayaratnam',
 'Sanisvara Nethaji Rayer A/L Rajaji',
 "Johan As'ari",
 'Onn bin Mohd. Yassin',
 'D. S. Ramanathan',
 'S.M. Zakir',
 'Ismail Bin Abd. Muttalib',
 'Mohd.Khusairi bin Abdul Mutalib',
 "Che'Nelle",
 'Sivasubramaniam a/l Athinarayanan',
 'Sultan Mahmud Al-Muktafi Billah Shah',
 'Vincent Chong Ying-Cern',
 'Vidyananthan A/L Ramanadhan',
 'S. Veenod',
 'Tunku Imran ibni Tuanku Ja’afar',
 'M. Magendran',
 'Burhanuddin bin Muhammad Nur al-Hilmi',
 'Mohd. Zainuddin bin Mohd. Yusof',
 'A. S. Samuel',
 'Makin @ Marcus Mojigoh',
 'Ahmad Khatib Al-Minangkabawi',
 'R. Arumugam',
 'Nasir P.Ramlee',
 'K. Parthiban',
 'Rasuna Said, HJ Rangkayo',
 "Sha'arani bin Mohamad",
 'Muthiah A/L Maria Pillay',
 'Pua Khein-Seng',
 'M. Nasir',
 'S. Krishnasamy',
 'N. Gobalakrishnan',
 'T. Murukasvary A/PS Thanarajan',
 'P. Kamalanathan',
 'K. Sivalingam',
 'V. Nagaraj',
 'Mohamad Daud bin Mohd.Yusof',
 'K. Pathmanaban',
 'Thirumurugan s/o Veeran',
 "Rus'seli bin Eizan",
 'K. Thamboosamy Pillay',
 'David V.',
 'Syed Muhammad Naquib al-Attas',
 'Mohamad Tajol Rosli bin Mohd.Ghazali',
 'M. Kulasegaran',
 'Radhi-O',
 'Tekhee @ Tiki Anak Lafe',
 'Sharifah Sakinah binti Syed Abu Bakar Al-Khaired',
 "Hisyamudin Sha'ari",
 'Stephen Rahman-Hughes',
 'Keshvinder Singh a/l Kashmir Singh',
 'Kesavan a/l Subramaniam',
 'Muhammad Al-Hafiz Hamzah',
 'William @ Nyallau Anak Badak',
 'Murugesan A/L Sinnandavar',
 'M. Karathu',
 'S. A. Ganapathy',
 'Lan "Bye"',
 'K. Thanabalasingam',
 'D. Saarvindran',
 'M. Kayveas',
 "Lo' Lo' Mohd Ghazali",
 'Syed Mokhtar Al-Bukhary',
 'Asiah binti Md. Ariff',
 'V. Thirumurugan',
 'M. Saravanan',
 'V. Kavi Chelvan',
 'K. L. Devaser',
 'Shamsul Iskandar Md. Akin',
 'S. Kunanlan',
 'Scha Al-Yahya',
 'V. T. Sambanthan',
 'Mohd Najmuddin bin Elias Al-Hafiz',
 'Abdullah bin Md. Zin',
 'V. Manickavasagam',
 'C. Premnath',
 'Md. Othman Bin Yusof',
 'Sultan Sharafuddin Idris Shah Al-Haj',
 'S. Sothinathan',
 'D. Christie Jayaseelan',
 'B. S. Rajhans',
 'Sultan Ahmad Shah Al-Musta’in Billah ibni Almarhum Sultan Abu Bakar',
 "Abdul Rahman Ya'kub",
 'V. David',
 'K. Reuben',
 'H. S. Lee',
 'A. Rahman bin Mokhtar',
 'Wan A. Rafar',
 'Tuanku Ja’afar ibni Almarhum Tuanku Abdul Rahman',
 'A. Samad Said',
 'D. R. Seenivasagam',
 'E. W. Barker',
 'B. Sathianathan',
 'Zainon Ismail C.N. Afghani',
 "Lo' Lo' Mohamad Ghazali",
 'B. S. Saw',
 'Zainon Ismail C.N Afghani',
 'Ariffin S.M Omar',
 'Ahmad bin Said (Menteri Besar Terengganu)',
 'Munusamy a/l Mareemuthu',
 "Dato' Bahaman",
 'Bram (pelukis komik)',
 'Mohd. Anuar bin Sudin',
 'V. Sivakumar',
 'Hafiz (penyanyi)',
 'Mohd. Osman bin Mohd. Jailu',
 'S. Manikavasagam',
 'Shahruddin bin Md. Salleh',
 'Tanasekharan a/l Autherapady',
 'Michael Wong (penyanyi)',
 'A. Wahid',
 'Burhanuddin al-Helmy',
 'Mohd.Tarmizi bin Idris',
 'Anis Al-Idrus',
 'C. L. Yap',
 'P. Ramasamy',
 'Suresh Kumar S. V. Vijayathevan',
 'John A. Thivy',
 'A. R. Badul',
 'Xavier Jayakumar A/L Arulanandam',
 'U-Wei Haji Saari',
 'V. Manikavasagam',
 "Mohamad Hisyamudin Mohamed Sha'ari",
 'D.S. Ramanathan',
 'A.A. Navis',
 'Sivanesan A/L Achalingam',
 'Datuk E.E.C. Thuraisingam',
 'Sivakumar A/L Varatharaju',
 'Gwo-Burne Loh',
 'Sultan Muhammad ke-V',
 'Mojilip Bin Bumburing @ Wilfred',
 'Lim Wee-Chai',
 'Sultan Abdul Halim Mu’adzam Shah',
 "Sultan Abdullah Ma'ayat Shah",
 'S. Sivanesan',
 'Sultan Abdul Aziz al-Mutasim Billah Shah',
 'U-Wei Hj Saari',
 'S. Kumaahran',
 'Sharifah Amani Syed Zainal Rashid Al-Yahya',
 'Sivalingam a/l Arumugam Karuppiah',
 'Yong Khoon Hian @ Yong Khoon Seng',
 'Sultan Ismail Petra ibni al-Marhum Sultan Yahya Petra',
 'Adenan Hj. Satem',
 'P. Balasubramaniam',
 "Abdullah Ma'ayat Shah",
 "Mohd Shahril Sa'ari",
 'E. E. C. Thuraisingham',
 'Ibrahim Ali (Malaysia)',
 'Faradina Mohd. Nadzir',
 'Aril (AF 7)',
 'Sultan Hisamuddin Alam Shah Al-Haj ibni Almarhum Sultan Alaeddin Sulaiman Shah',
 "Ismail Faruqi Asha'ri"]

Again, we have parentheses at the end, so let's remove them:

In [20]:
df_malay['fullname'] = df_malay['fullname'].apply(lambda name: name if name.find('(') == -1 else name[:name.find('(')])
non_alnum_names_malay = [name for name in df_malay['fullname'] if not str.isalnum(name.replace(' ', ''))]
print(len(non_alnum_names_malay))
non_alnum_names_malay

192

['Ling Ban San @ Teng Boon Soon',
 'Zulkifeli Mohd. Zin',
 'Raja Tun Uda Al-Haj bin Raja Muhammad',
 'P. Ramlee',
 'S. Hamid',
 'Rueben Thevandran a/l Ramanath',
 'Tunku Alif Hussein Saifuddin Al-Amin',
 'Soekarno M. Noer',
 'M. Kulasegaran V. Murugeson',
 'M.Asojan a/l Muniyandy',
 'K. Rajagopal',
 'Afifi al-Akiti',
 "Mohd Shahril Saa'ri",
 'Md. Jais Bin Haji Sarday',
 'K. Gurusamy',
 'Sivarasa K. Rasiah',
 'Abdullah C.D',
 'Raveentharan a/l V. Subramaniam',
 'Jajang C. Noer',
 'Devamany S. Krishnasamy',
 'Imam Bonjol,Tuanku',
 'K. Sasi Kumar',
 'N. Surendran',
 'Wan Syuhada Md. Amin',
 'M. Manogaran',
 'S. Manikumar',
 'Rustam A. Sani',
 'Zulkifli Mohamad Al-Bakri',
 'Manoharan A/L Malayalam',
 'Wan Mohammad Khair-il Anuar Wan Ahmad',
 'M. G. Pandithan',
 'Abdullah @ Md. Khalid bin Md. Ali',
 'P. Uthayakumar',
 'G. Palanivel',
 'P. G. Lim',
 'S. Subramaniam',
 'Sultan Abdul Jalil Nasruddin Muhtaram Shah ibni al-Marhum Sultan Idris Murshidul Aadzam Shah',
 'Wong B. K.',
 'M.P. Drahaman',
 'D.R.Seenivasagam',
 'Dian P. Ramlee',
 'Abd. Hamid bin Haji Abd. Rahman',
 'Aziz M. Osman',
 'Tahir bin Mohd. Taat',
 'A. Rahman Hassan',
 'Farish A. Noor',
 'Rahim B.',
 'S. Vijayaratnam',
 'Sanisvara Nethaji Rayer A/L Rajaji',
 "Johan As'ari",
 'Onn bin Mohd. Yassin',
 'D. S. Ramanathan',
 'S.M. Zakir',
 'Ismail Bin Abd. Muttalib',
 'Mohd.Khusairi bin Abdul Mutalib',
 "Che'Nelle",
 'Sivasubramaniam a/l Athinarayanan',
 'Sultan Mahmud Al-Muktafi Billah Shah',
 'Vincent Chong Ying-Cern',
 'Vidyananthan A/L Ramanadhan',
 'S. Veenod',
 'Tunku Imran ibni Tuanku Ja’afar',
 'M. Magendran',
 'Burhanuddin bin Muhammad Nur al-Hilmi',
 'Mohd. Zainuddin bin Mohd. Yusof',
 'A. S. Samuel',
 'Makin @ Marcus Mojigoh',
 'Ahmad Khatib Al-Minangkabawi',
 'R. Arumugam',
 'Nasir P.Ramlee',
 'K. Parthiban',
 'Rasuna Said, HJ Rangkayo',
 "Sha'arani bin Mohamad",
 'Muthiah A/L Maria Pillay',
 'Pua Khein-Seng',
 'M. Nasir',
 'S. Krishnasamy',
 'N. Gobalakrishnan',
 'T. Murukasvary A/PS Thanarajan',
 'P. Kamalanathan',
 'K. Sivalingam',
 'V. Nagaraj',
 'Mohamad Daud bin Mohd.Yusof',
 'K. Pathmanaban',
 'Thirumurugan s/o Veeran',
 "Rus'seli bin Eizan",
 'K. Thamboosamy Pillay',
 'David V.',
 'Syed Muhammad Naquib al-Attas',
 'Mohamad Tajol Rosli bin Mohd.Ghazali',
 'M. Kulasegaran',
 'Radhi-O',
 'Tekhee @ Tiki Anak Lafe',
 'Sharifah Sakinah binti Syed Abu Bakar Al-Khaired',
 "Hisyamudin Sha'ari",
 'Stephen Rahman-Hughes',
 'Keshvinder Singh a/l Kashmir Singh',
 'Kesavan a/l Subramaniam',
 'Muhammad Al-Hafiz Hamzah',
 'William @ Nyallau Anak Badak',
 'Murugesan A/L Sinnandavar',
 'M. Karathu',
 'S. A. Ganapathy',
 'Lan "Bye"',
 'K. Thanabalasingam',
 'D. Saarvindran',
 'M. Kayveas',
 "Lo' Lo' Mohd Ghazali",
 'Syed Mokhtar Al-Bukhary',
 'Asiah binti Md. Ariff',
 'V. Thirumurugan',
 'M. Saravanan',
 'V. Kavi Chelvan',
 'K. L. Devaser',
 'Shamsul Iskandar Md. Akin',
 'S. Kunanlan',
 'Scha Al-Yahya',
 'V. T. Sambanthan',
 'Mohd Najmuddin bin Elias Al-Hafiz',
 'Abdullah bin Md. Zin',
 'V. Manickavasagam',
 'C. Premnath',
 'Md. Othman Bin Yusof',
 'Sultan Sharafuddin Idris Shah Al-Haj',
 'S. Sothinathan',
 'D. Christie Jayaseelan',
 'B. S. Rajhans',
 'Sultan Ahmad Shah Al-Musta’in Billah ibni Almarhum Sultan Abu Bakar',
 "Abdul Rahman Ya'kub",
 'V. David',
 'K. Reuben',
 'H. S. Lee',
 'A. Rahman bin Mokhtar',
 'Wan A. Rafar',
 'Tuanku Ja’afar ibni Almarhum Tuanku Abdul Rahman',
 'A. Samad Said',
 'D. R. Seenivasagam',
 'E. W. Barker',
 'B. Sathianathan',
 'Zainon Ismail C.N. Afghani',
 "Lo' Lo' Mohamad Ghazali",
 'B. S. Saw',
 'Zainon Ismail C.N Afghani',
 'Ariffin S.M Omar',
 'Munusamy a/l Mareemuthu',
 "Dato' Bahaman",
 'Mohd. Anuar bin Sudin',
 'V. Sivakumar',
 'Mohd. Osman bin Mohd. Jailu',
 'S. Manikavasagam',
 'Shahruddin bin Md. Salleh',
 'Tanasekharan a/l Autherapady',
 'A. Wahid',
 'Burhanuddin al-Helmy',
 'Mohd.Tarmizi bin Idris',
 'Anis Al-Idrus',
 'C. L. Yap',
 'P. Ramasamy',
 'Suresh Kumar S. V. Vijayathevan',
 'John A. Thivy',
 'A. R. Badul',
 'Xavier Jayakumar A/L Arulanandam',
 'U-Wei Haji Saari',
 'V. Manikavasagam',
 "Mohamad Hisyamudin Mohamed Sha'ari",
 'D.S. Ramanathan',
 'A.A. Navis',
 'Sivanesan A/L Achalingam',
 'Datuk E.E.C. Thuraisingam',
 'Sivakumar A/L Varatharaju',
 'Gwo-Burne Loh',
 'Sultan Muhammad ke-V',
 'Mojilip Bin Bumburing @ Wilfred',
 'Lim Wee-Chai',
 'Sultan Abdul Halim Mu’adzam Shah',
 "Sultan Abdullah Ma'ayat Shah",
 'S. Sivanesan',
 'Sultan Abdul Aziz al-Mutasim Billah Shah',
 'U-Wei Hj Saari',
 'S. Kumaahran',
 'Sharifah Amani Syed Zainal Rashid Al-Yahya',
 'Sivalingam a/l Arumugam Karuppiah',
 'Yong Khoon Hian @ Yong Khoon Seng',
 'Sultan Ismail Petra ibni al-Marhum Sultan Yahya Petra',
 'Adenan Hj. Satem',
 'P. Balasubramaniam',
 "Abdullah Ma'ayat Shah",
 "Mohd Shahril Sa'ari",
 'E. E. C. Thuraisingham',
 'Faradina Mohd. Nadzir',
 'Sultan Hisamuddin Alam Shah Al-Haj ibni Almarhum Sultan Alaeddin Sulaiman Shah',
 "Ismail Faruqi Asha'ri"]

(Handle titles?)

Are there any null entries in `fullname`?

In [21]:
print(np.any(df_malay['fullname'].isnull()))

False

Let's assign values to `Family name` and `Given name`, following the same criteria we did before for the Indonesian names:

In [22]:
df_malay['Given name'] = df_malay['fullname'].apply(lambda name: name if name.find(' ') == -1 else name[:name.find(' ')])
df_malay

                                  fullname  Family name Given name
0                            Annuar Rapaee          NaN     Annuar
1                                Tash Yong          NaN       Tash
2                                Fatmawati          NaN  Fatmawati
3                               Alto Linus          NaN       Alto
4                Mohamad Izzat Abdul Halil          NaN    Mohamad
...                                    ...          ...        ...
2909                   Salmah binti Ismail          NaN     Salmah
2910              Abdul Aziz Sheikh Fadzir          NaN      Abdul
2911  Sultan Ibrahim ibni Sultan Abu Bakar          NaN     Sultan
2912                          Ahmad Yaakob          NaN      Ahmad
2913                        Jailani Johari          NaN    Jailani

[2914 rows x 3 columns]

In [23]:
df_malay['Family name'] = df_malay['fullname'].apply(lambda name: np.nan if name.find(' ') == -1 else name[name.rfind(' ')+1:])
df_malay

                                  fullname Family name Given name
0                            Annuar Rapaee      Rapaee     Annuar
1                                Tash Yong        Yong       Tash
2                                Fatmawati         NaN  Fatmawati
3                               Alto Linus       Linus       Alto
4                Mohamad Izzat Abdul Halil       Halil    Mohamad
...                                    ...         ...        ...
2909                   Salmah binti Ismail      Ismail     Salmah
2910              Abdul Aziz Sheikh Fadzir      Fadzir      Abdul
2911  Sultan Ibrahim ibni Sultan Abu Bakar       Bakar     Sultan
2912                          Ahmad Yaakob      Yaakob      Ahmad
2913                        Jailani Johari      Johari    Jailani

[2914 rows x 3 columns]