In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df  =  pd.read_excel('EXGR_Turkish names2.xlsx')
print(df)

                                            id                      label_tr  \
0       http://www.wikidata.org/entity/Q282782                          Ceza
1       http://www.wikidata.org/entity/Q288019                        Gülşen
2       http://www.wikidata.org/entity/Q236047                        Hadise
3       http://www.wikidata.org/entity/Q236920                         Emrah
4       http://www.wikidata.org/entity/Q182948                        Göksel
...                                        ...                           ...
18769  http://www.wikidata.org/entity/Q6053953     Elif Nur Bozkurt Tandoğan
18770  http://www.wikidata.org/entity/Q6085044    Muhammed Ali Fatih Erbakan
18771  http://www.wikidata.org/entity/Q6041731      İsmail Hamit Özer Derbil
18772  http://www.wikidata.org/entity/Q6071196        Vedat Ali Özkan Kayacı
18773     http://www.wikidata.org/entity/Q5031  Elder Paisios of Mount Athos

      comment          Given name Middle Name Family name Maiden Name  \
0           x                 NaN         NaN         NaN         NaN
1           x                 NaN         NaN         NaN         NaN
2           x                 NaN         NaN         NaN         NaN
3           x                 NaN         NaN         NaN         NaN
4           x                 NaN         NaN         NaN         NaN
...       ...                 ...         ...         ...         ...
18769     NaN   Elif Nur Bozkurt          NaN    Tandoğan         NaN
18770     NaN  Muhammed Ali Fatih         NaN     Erbakan         NaN
18771       x                 NaN         NaN         NaN         NaN
18772     NaN     Vedat Ali Özkan         NaN      Kayacı         NaN
18773       x                 NaN         NaN         NaN         NaN

       Unnamed: 7
0               1
1               1
2               1
3               1
4               1
...           ...
18769           4
18770           4
18771           4
18772           4
18773           5

[18774 rows x 8 columns]

In [3]:
df.shape

(18774, 8)

In [4]:
df.head()

,id,label_tr,comment,Given name,Middle Name,Family name,Maiden Name,Unnamed: 7
0,http://www.wikidata.org/entity/Q282782,Ceza,x,NaN,NaN,NaN,NaN,1
1,http://www.wikidata.org/entity/Q288019,Gülşen,x,NaN,NaN,NaN,NaN,1
2,http://www.wikidata.org/entity/Q236047,Hadise,x,NaN,NaN,NaN,NaN,1
3,http://www.wikidata.org/entity/Q236920,Emrah,x,NaN,NaN,NaN,NaN,1
4,http://www.wikidata.org/entity/Q182948,Göksel,x,NaN,NaN,NaN,NaN,1

In [5]:
df.isnull().values.any()

True

In [6]:
df.isnull().head()

,id,label_tr,comment,Given name,Middle Name,Family name,Maiden Name,Unnamed: 7
0,False,False,False,True,True,True,True,False
1,False,False,False,True,True,True,True,False
2,False,False,False,True,True,True,True,False
3,False,False,False,True,True,True,True,False
4,False,False,False,True,True,True,True,False

In [7]:
nan_count = np.sum(df.isnull(), axis = 0)
nan_count

id                 0
label_tr           0
comment        18318
Given name       455
Middle Name    18772
Family name      459
Maiden Name    18763
Unnamed: 7         0
dtype: int64

In [8]:
df['label_tr'].duplicated().any()

True

In [9]:
df2 =df.drop_duplicates(subset=['label_tr'])
print(df2)

                                            id                      label_tr  \
0       http://www.wikidata.org/entity/Q282782                          Ceza
1       http://www.wikidata.org/entity/Q288019                        Gülşen
2       http://www.wikidata.org/entity/Q236047                        Hadise
3       http://www.wikidata.org/entity/Q236920                         Emrah
4       http://www.wikidata.org/entity/Q182948                        Göksel
...                                        ...                           ...
18769  http://www.wikidata.org/entity/Q6053953     Elif Nur Bozkurt Tandoğan
18770  http://www.wikidata.org/entity/Q6085044    Muhammed Ali Fatih Erbakan
18771  http://www.wikidata.org/entity/Q6041731      İsmail Hamit Özer Derbil
18772  http://www.wikidata.org/entity/Q6071196        Vedat Ali Özkan Kayacı
18773     http://www.wikidata.org/entity/Q5031  Elder Paisios of Mount Athos

      comment          Given name Middle Name Family name Maiden Name  \
0           x                 NaN         NaN         NaN         NaN
1           x                 NaN         NaN         NaN         NaN
2           x                 NaN         NaN         NaN         NaN
3           x                 NaN         NaN         NaN         NaN
4           x                 NaN         NaN         NaN         NaN
...       ...                 ...         ...         ...         ...
18769     NaN   Elif Nur Bozkurt          NaN    Tandoğan         NaN
18770     NaN  Muhammed Ali Fatih         NaN     Erbakan         NaN
18771       x                 NaN         NaN         NaN         NaN
18772     NaN     Vedat Ali Özkan         NaN      Kayacı         NaN
18773       x                 NaN         NaN         NaN         NaN

       Unnamed: 7
0               1
1               1
2               1
3               1
4               1
...           ...
18769           4
18770           4
18771           4
18772           4
18773           5

[18491 rows x 8 columns]

In [10]:
df2['label_tr'].duplicated().any()

False

In [11]:
df2.shape

(18491, 8)

In [12]:
nan_count = np.sum(df2.isnull(), axis = 0)
nan_count

id                 0
label_tr           0
comment        18037
Given name       453
Middle Name    18489
Family name      457
Maiden Name    18480
Unnamed: 7         0
dtype: int64

In [13]:
condition = nan_count != 0
col_names = nan_count[condition].index
nan_cols = list(col_names)
print(nan_cols)

['comment', 'Given name', 'Middle Name', 'Family name', 'Maiden Name']

In [14]:
print(df2['comment'].unique())
print(df2['Given name'].unique())
print(df2['Middle Name'].unique())
print(df2['Family name'].unique())
print(df2['Maiden Name'].unique())

['x' nan]
[nan 'Melahat' 'Freddy' ... 'Elif Nur Bozkurt ' 'Muhammed Ali Fatih'
 'Vedat Ali Özkan']
[nan 'Sahin' 'Kemal']
[nan 'Abbasova' 'Scholl' ... 'Kapıcıoğlu' 'Ali Marandi' 'Bektur']
[nan 'Önder' 'Kafaoğlu' 'Türker' 'Doğan' 'Karahan' 'Sabancı' 'Ekşi' 'İnan'
 'Tosun' 'Sayan']

In [15]:
split_names = df2['label_tr'].str.split(expand=True)
num_space = split_names.shape[0]


if num_space == 0:
    df2.loc[:, 'Given name'] = split_names[0]
    df2.loc[:, 'Middle Name'] = None
    df2.loc[:, 'Family name'] = None
elif num_space == 1:
    df2.loc[:, 'Given name'] = split_names[0]
    df2.loc[:, 'Middle Name'] = None
    df2.loc[:, 'Family name'] = None
elif num_space == 2:
    df2.loc[:, 'Given name'] = split_names[0]
    df2.loc[:, 'Middle Name'] = None
    df2.loc[:, 'Family name'] = split_names[2]
elif num_space == 3:
    df2.loc[:, 'Given name'] = split_names[0]
    df2.loc[:, 'Middle Name'] = split_names[1]
    df2.loc[:, 'Family name'] = split_names[2]  
else:
    pass

In [16]:
print(df2['Given name'])

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
                ...
18769     Elif Nur Bozkurt
18770    Muhammed Ali Fatih
18771                   NaN
18772       Vedat Ali Özkan
18773                   NaN
Name: Given name, Length: 18491, dtype: object

In [17]:
print(df2['Middle Name'])

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18769    NaN
18770    NaN
18771    NaN
18772    NaN
18773    NaN
Name: Middle Name, Length: 18491, dtype: object

In [18]:
print(df2['Family name'])

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
18769    Tandoğan
18770     Erbakan
18771         NaN
18772      Kayacı
18773         NaN
Name: Family name, Length: 18491, dtype: object

In [19]:
print(df2)

                                            id                      label_tr  \
0       http://www.wikidata.org/entity/Q282782                          Ceza
1       http://www.wikidata.org/entity/Q288019                        Gülşen
2       http://www.wikidata.org/entity/Q236047                        Hadise
3       http://www.wikidata.org/entity/Q236920                         Emrah
4       http://www.wikidata.org/entity/Q182948                        Göksel
...                                        ...                           ...
18769  http://www.wikidata.org/entity/Q6053953     Elif Nur Bozkurt Tandoğan
18770  http://www.wikidata.org/entity/Q6085044    Muhammed Ali Fatih Erbakan
18771  http://www.wikidata.org/entity/Q6041731      İsmail Hamit Özer Derbil
18772  http://www.wikidata.org/entity/Q6071196        Vedat Ali Özkan Kayacı
18773     http://www.wikidata.org/entity/Q5031  Elder Paisios of Mount Athos

      comment          Given name Middle Name Family name Maiden Name  \
0           x                 NaN         NaN         NaN         NaN
1           x                 NaN         NaN         NaN         NaN
2           x                 NaN         NaN         NaN         NaN
3           x                 NaN         NaN         NaN         NaN
4           x                 NaN         NaN         NaN         NaN
...       ...                 ...         ...         ...         ...
18769     NaN   Elif Nur Bozkurt          NaN    Tandoğan         NaN
18770     NaN  Muhammed Ali Fatih         NaN     Erbakan         NaN
18771       x                 NaN         NaN         NaN         NaN
18772     NaN     Vedat Ali Özkan         NaN      Kayacı         NaN
18773       x                 NaN         NaN         NaN         NaN

       Unnamed: 7
0               1
1               1
2               1
3               1
4               1
...           ...
18769           4
18770           4
18771           4
18772           4
18773           5

[18491 rows x 8 columns]

In [20]:
df2.head(140)

,id,label_tr,comment,Given name,Middle Name,Family name,Maiden Name,Unnamed: 7
0,http://www.wikidata.org/entity/Q282782,Ceza,x,NaN,NaN,NaN,NaN,1
1,http://www.wikidata.org/entity/Q288019,Gülşen,x,NaN,NaN,NaN,NaN,1
2,http://www.wikidata.org/entity/Q236047,Hadise,x,NaN,NaN,NaN,NaN,1
3,http://www.wikidata.org/entity/Q236920,Emrah,x,NaN,NaN,NaN,NaN,1
4,http://www.wikidata.org/entity/Q182948,Göksel,x,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...
135,http://www.wikidata.org/entity/Q260671,Kuanitra Holingsvorth,NaN,Kuanitra,NaN,Holingsvorth,NaN,2
136,http://www.wikidata.org/entity/Q88831,Emel Heinreich,NaN,Emel,NaN,Heinreich,NaN,2
137,http://www.wikidata.org/entity/Q1285501,Esther Benbassa,NaN,Esther,NaN,Benbassa,NaN,2
138,http://www.wikidata.org/entity/Q373402,Gustave Bebbe,NaN,Gustave,NaN,Bebbe,NaN,2
139,http://www.wikidata.org/entity/Q4661944,Aaron Cupino,NaN,Aaron,NaN,Cupino,NaN,2

In [21]:
nan_count = np.sum(df2.isnull(), axis = 0)
nan_count

id                 0
label_tr           0
comment        18037
Given name       453
Middle Name    18489
Family name      457
Maiden Name    18480
Unnamed: 7         0
dtype: int64

In [22]:
df2['comment'].fillna('No comment', inplace = True)
df2['Middle Name'].fillna('No Middle name', inplace = True)
df2['Maiden Name'].fillna('Unknown', inplace = True)
df2['Family name'].fillna('Unknown', inplace = True)
#df2['Given name'].fillna('Unknown', inplace = True)

/var/folders/4g/6d3mv01d7k7dpqlb46ckdk_00000gn/T/ipykernel_3525/3898517299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['comment'].fillna('No comment', inplace = True)
/var/folders/4g/6d3mv01d7k7dpqlb46ckdk_00000gn/T/ipykernel_3525/3898517299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Middle Name'].fillna('No Middle name', inplace = True)
/var/folders/4g/6d3mv01d7k7dpqlb46ckdk_00000gn/T/ipykernel_3525/3898517299.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Maiden Name'].fillna('Unknown', inplace = True)
/var/folders/4g/6d3mv01d7k7dpqlb46ckdk_00000gn/T/ipykernel_3525/3898517299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Family name'].fillna('Unknown', inplace = True)

In [23]:
nan_count = np.sum(df2.isnull(), axis = 0)
nan_count

id               0
label_tr         0
comment          0
Given name     453
Middle Name      0
Family name      0
Maiden Name      0
Unnamed: 7       0
dtype: int64