In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
df  =  pd.read_excel('EXGR_Japanese names.xlsx')
print(df)

        Unnamed: 0                                        id  \
0                0  http://www.wikidata.org/entity/Q17229484
1                1  http://www.wikidata.org/entity/Q19958115
2                2  http://www.wikidata.org/entity/Q11237697
3                3  http://www.wikidata.org/entity/Q11482333
4                4  http://www.wikidata.org/entity/Q11528757
...            ...                                       ...
202435      202435  http://www.wikidata.org/entity/Q11672225
202436      202436    http://www.wikidata.org/entity/Q495816
202437      202437  http://www.wikidata.org/entity/Q11640390
202438      202438   http://www.wikidata.org/entity/Q3984842
202439      202439  http://www.wikidata.org/entity/Q11362511

                  fullname  Family name  Given name
0       Hirotoshi Nakamura          NaN         NaN
1          Sachio Hosokawa          NaN         NaN
2                      OZA          NaN         NaN
3                     平塚利男          NaN         NaN
4                Jun Kochi          NaN         NaN
...                    ...          ...         ...
202435       Takada Makoto          NaN         NaN
202436    Masakiyo Maezono          NaN         NaN
202437          Ryō Yuzawa          NaN         NaN
202438                菅原照仁          NaN         NaN
202439                世羅りさ          NaN         NaN

[202440 rows x 5 columns]

In [8]:
df.shape

(202440, 5)

In [9]:
df.head()

,Unnamed: 0,id,fullname,Family name,Given name
0,0,http://www.wikidata.org/entity/Q17229484,Hirotoshi Nakamura,NaN,NaN
1,1,http://www.wikidata.org/entity/Q19958115,Sachio Hosokawa,NaN,NaN
2,2,http://www.wikidata.org/entity/Q11237697,OZA,NaN,NaN
3,3,http://www.wikidata.org/entity/Q11482333,平塚利男,NaN,NaN
4,4,http://www.wikidata.org/entity/Q11528757,Jun Kochi,NaN,NaN

In [4]:
nan_count = np.sum(df.isnull(), axis = 0)
nan_count

Unnamed: 0          0
id                  0
fullname            1
Family name    202440
Given name     202440
dtype: int64

In [13]:
df['fullname'].duplicated().any()

True

In [5]:
df2 =df.drop_duplicates(subset=['fullname'])
print(df2)

        Unnamed: 0                                        id  \
0                0  http://www.wikidata.org/entity/Q17229484
1                1  http://www.wikidata.org/entity/Q19958115
2                2  http://www.wikidata.org/entity/Q11237697
3                3  http://www.wikidata.org/entity/Q11482333
4                4  http://www.wikidata.org/entity/Q11528757
...            ...                                       ...
202435      202435  http://www.wikidata.org/entity/Q11672225
202436      202436    http://www.wikidata.org/entity/Q495816
202437      202437  http://www.wikidata.org/entity/Q11640390
202438      202438   http://www.wikidata.org/entity/Q3984842
202439      202439  http://www.wikidata.org/entity/Q11362511

                  fullname  Family name  Given name
0       Hirotoshi Nakamura          NaN         NaN
1          Sachio Hosokawa          NaN         NaN
2                      OZA          NaN         NaN
3                     平塚利男          NaN         NaN
4                Jun Kochi          NaN         NaN
...                    ...          ...         ...
202435       Takada Makoto          NaN         NaN
202436    Masakiyo Maezono          NaN         NaN
202437          Ryō Yuzawa          NaN         NaN
202438                菅原照仁          NaN         NaN
202439                世羅りさ          NaN         NaN

[193534 rows x 5 columns]

In [6]:
df2['fullname'].duplicated().any()

False

In [10]:
#(name):
    #if isinstance(name, str):
        #return any(c.isalnum() for c in name)
    #return False

In [11]:
#alphanumeric_name = df2[df2['fullname'].apply(is_alphanumeric)]
#character_name = df2[~df2['fullname'].apply(is_alphanumeric)]

In [15]:
#alp_split_names = alphanumeric_name['fullname'].str.split(expand=True)

#alphanumeric_name.loc[:, 'Family name'] = alp_split_names[0]
#alphanumeric_name.loc[:, 'Given name'] = alp_split_names[1]

In [18]:
#modified_df = pd.concat([alphanumeric_name, character_name])

In [21]:
#modified_file_path = 'EXGR_Japanese names.xlsx'
#modified_df.to_excel(modified_file_path, index=False)

In [23]:
split_names = df2['fullname'].str.split(expand=True)

df2.loc[:, 'Family name'] = split_names[0]
df2.loc[:, 'Given name'] = split_names[1]

In [24]:
print(df2['Family name'])

0         Hirotoshi
1            Sachio
2               OZA
3              平塚利男
4               Jun
            ...
202435       Takada
202436     Masakiyo
202437          Ryō
202438         菅原照仁
202439         世羅りさ
Name: Family name, Length: 193534, dtype: object

In [26]:
print(df2['Given name'])

0         Nakamura
1         Hosokawa
2             None
3             None
4            Kochi
            ...
202435      Makoto
202436     Maezono
202437      Yuzawa
202438        None
202439        None
Name: Given name, Length: 193534, dtype: object

In [27]:
df2.head()

,Unnamed: 0,id,fullname,Family name,Given name,is_alphanumeric
0,0,http://www.wikidata.org/entity/Q17229484,Hirotoshi Nakamura,Hirotoshi,Nakamura,False
1,1,http://www.wikidata.org/entity/Q19958115,Sachio Hosokawa,Sachio,Hosokawa,False
2,2,http://www.wikidata.org/entity/Q11237697,OZA,OZA,None,True
3,3,http://www.wikidata.org/entity/Q11482333,平塚利男,平塚利男,None,True
4,4,http://www.wikidata.org/entity/Q11528757,Jun Kochi,Jun,Kochi,False

In [28]:
nan_count = np.sum(df2.isnull(), axis = 0)
nan_count

Unnamed: 0             0
id                     0
fullname               1
Family name            3
Given name         99260
is_alphanumeric        3
dtype: int64

In [30]:
print(df2[df2.isna().any(axis=1)])

        Unnamed: 0                                        id fullname  \
2                2  http://www.wikidata.org/entity/Q11237697      OZA
3                3  http://www.wikidata.org/entity/Q11482333     平塚利男
7                7  http://www.wikidata.org/entity/Q15078693     中野正俊
10              10   http://www.wikidata.org/entity/Q6463792      尺振八
11              11  http://www.wikidata.org/entity/Q11413364    吉永みち子
...            ...                                       ...      ...
202431      202431  http://www.wikidata.org/entity/Q11462317    小池藤五郎
202433      202433  http://www.wikidata.org/entity/Q11578514     畔柳二美
202434      202434   http://www.wikidata.org/entity/Q4389702     小山修加
202438      202438   http://www.wikidata.org/entity/Q3984842     菅原照仁
202439      202439  http://www.wikidata.org/entity/Q11362511     世羅りさ

       Family name Given name is_alphanumeric
2              OZA       None            True
3             平塚利男       None            True
7             中野正俊       None            True
10             尺振八       None            True
11           吉永みち子       None            True
...            ...        ...             ...
202431       小池藤五郎       None            True
202433        畔柳二美       None            True
202434        小山修加       None            True
202438        菅原照仁       None            True
202439        世羅りさ       None            True

[99260 rows x 6 columns]

In [31]:
print(df2[df2['fullname'].isna()])

      Unnamed: 0                                        id fullname  \
9364        9364  http://www.wikidata.org/entity/Q24859852      NaN

     Family name Given name is_alphanumeric
9364         NaN        NaN             NaN