In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
df  =  pd.read_excel('EXGR_Korean names.xlsx')
print(df)

       Unnamed: 0                                        id       fullname  \
0               0    http://www.wikidata.org/entity/Q484396  Park Joo-bong
1               1  http://www.wikidata.org/entity/Q55728351  KIM Jong hoon
2               2  http://www.wikidata.org/entity/Q11266766            이민혁
3               3  http://www.wikidata.org/entity/Q47492159         Lee Ho
4               4   http://www.wikidata.org/entity/Q1075756            최민호
...           ...                                       ...            ...
21197       21197  http://www.wikidata.org/entity/Q11267007     Lee Han-wi
21198       21198  http://www.wikidata.org/entity/Q12586843   Gil Jung-woo
21199       21199    http://www.wikidata.org/entity/Q224639            이정희
21200       21200  http://www.wikidata.org/entity/Q12586585            금태섭
21201       21201  http://www.wikidata.org/entity/Q18684836      Oh Ui-sik

       Family name  Given name
0              NaN         NaN
1              NaN         NaN
2              NaN         NaN
3              NaN         NaN
4              NaN         NaN
...            ...         ...
21197          NaN         NaN
21198          NaN         NaN
21199          NaN         NaN
21200          NaN         NaN
21201          NaN         NaN

[21202 rows x 5 columns]

In [4]:
df.shape

(21202, 5)

In [5]:
df.head()

,Unnamed: 0,id,fullname,Family name,Given name
0,0,http://www.wikidata.org/entity/Q484396,Park Joo-bong,NaN,NaN
1,1,http://www.wikidata.org/entity/Q55728351,KIM Jong hoon,NaN,NaN
2,2,http://www.wikidata.org/entity/Q11266766,이민혁,NaN,NaN
3,3,http://www.wikidata.org/entity/Q47492159,Lee Ho,NaN,NaN
4,4,http://www.wikidata.org/entity/Q1075756,최민호,NaN,NaN

In [6]:
df.isnull().head()

   Unnamed: 0     id  fullname  Family name  Given name
0       False  False     False         True        True
1       False  False     False         True        True
2       False  False     False         True        True
3       False  False     False         True        True
4       False  False     False         True        True

In [7]:
nan_count = np.sum(df.isnull(), axis = 0)
nan_count

Unnamed: 0         0
id                 0
fullname           0
Family name    21202
Given name     21202
dtype: int64

In [8]:
df['id'].duplicated().any()

True

In [9]:
df['fullname'].duplicated().any()

True

In [10]:
df2 =df.drop_duplicates(subset=['fullname'])
print(df2)

       Unnamed: 0                                        id       fullname  \
0               0    http://www.wikidata.org/entity/Q484396  Park Joo-bong
1               1  http://www.wikidata.org/entity/Q55728351  KIM Jong hoon
2               2  http://www.wikidata.org/entity/Q11266766            이민혁
3               3  http://www.wikidata.org/entity/Q47492159         Lee Ho
4               4   http://www.wikidata.org/entity/Q1075756            최민호
...           ...                                       ...            ...
21197       21197  http://www.wikidata.org/entity/Q11267007     Lee Han-wi
21198       21198  http://www.wikidata.org/entity/Q12586843   Gil Jung-woo
21199       21199    http://www.wikidata.org/entity/Q224639            이정희
21200       21200  http://www.wikidata.org/entity/Q12586585            금태섭
21201       21201  http://www.wikidata.org/entity/Q18684836      Oh Ui-sik

       Family name  Given name
0              NaN         NaN
1              NaN         NaN
2              NaN         NaN
3              NaN         NaN
4              NaN         NaN
...            ...         ...
21197          NaN         NaN
21198          NaN         NaN
21199          NaN         NaN
21200          NaN         NaN
21201          NaN         NaN

[19520 rows x 5 columns]

In [11]:
df2['fullname'].duplicated().any()

False

In [12]:
#df2 =df.drop_duplicates(subset=[''])

In [13]:
df2['id'].duplicated().any()

True

In [14]:
split_names = df2['fullname'].str.split(expand=True)

df2.loc[:, 'Family name'] = split_names[0]
df2.loc[:, 'Given name'] = split_names[1]

In [15]:
print(df2['Family name'])

0        Park
1         KIM
2         이민혁
3         Lee
4         최민호
         ...
21197     Lee
21198     Gil
21199     이정희
21200     금태섭
21201      Oh
Name: Family name, Length: 19520, dtype: object

In [16]:
print(df2['Given name'])

0        Joo-bong
1            Jong
2            None
3              Ho
4            None
           ...
21197      Han-wi
21198    Jung-woo
21199        None
21200        None
21201      Ui-sik
Name: Given name, Length: 19520, dtype: object

In [18]:
nan_count = np.sum(df2.isnull(), axis = 0)
nan_count

Unnamed: 0        0
id                0
fullname          0
Family name       2
Given name     8986
dtype: int64

In [19]:
print(df2)

       Unnamed: 0                                        id       fullname  \
0               0    http://www.wikidata.org/entity/Q484396  Park Joo-bong
1               1  http://www.wikidata.org/entity/Q55728351  KIM Jong hoon
2               2  http://www.wikidata.org/entity/Q11266766            이민혁
3               3  http://www.wikidata.org/entity/Q47492159         Lee Ho
4               4   http://www.wikidata.org/entity/Q1075756            최민호
...           ...                                       ...            ...
21197       21197  http://www.wikidata.org/entity/Q11267007     Lee Han-wi
21198       21198  http://www.wikidata.org/entity/Q12586843   Gil Jung-woo
21199       21199    http://www.wikidata.org/entity/Q224639            이정희
21200       21200  http://www.wikidata.org/entity/Q12586585            금태섭
21201       21201  http://www.wikidata.org/entity/Q18684836      Oh Ui-sik

      Family name Given name
0            Park   Joo-bong
1             KIM       Jong
2             이민혁       None
3             Lee         Ho
4             최민호       None
...           ...        ...
21197         Lee     Han-wi
21198         Gil   Jung-woo
21199         이정희       None
21200         금태섭       None
21201          Oh     Ui-sik

[19520 rows x 5 columns]

In [22]:
df2['Family name'].unique

<bound method Series.unique of 0        Park
1         KIM
2         이민혁
3         Lee
4         최민호
         ...
21197     Lee
21198     Gil
21199     이정희
21200     금태섭
21201      Oh
Name: Family name, Length: 19520, dtype: object>