In [1]:
import pandas as pd
import numpy as np

This file was originally for frequency distributions for Latin names!
but we can also concat the other dfs / do model training after in the same file

In [2]:
df_indo = pd.read_csv('df_indo.csv')
df_malay = pd.read_csv('df_malay.csv')
df_viet = pd.read_csv('viet_df.csv')
df_cnrom = pd.read_csv('cnrom_df.csv')
df_cnchar = pd.read_csv('cnchar_df.csv')
# also import other dfs

### 1. Cleaning up column names

column names to KEEP: (10 so far)

* name_length
* avg_token_length
* num_tokens
* period_freq
* dash_freq
* apostrophe_freq
* space_freq
* unigrams_cosine_sim
* bigrams_cosine_sim
* language

In [3]:
# finding what columns r in viet that aren't in indo
print(df_indo.columns)
print(df_viet.columns)
[col for col in df_viet.columns if col not in df_indo.columns]

Index(['fullname', 'original_fullname', 'alphabet', 'unigrams', 'bigrams',
       'trigrams', 'char_ngrams', 'word_ngrams', 'name_length',
       'avg_token_length', 'num_tokens', 'transliteration', 'period_freq',
       'dash_freq', 'apostrophe_freq', 'space_freq', 'indiv_unigrams_fdist',
       'indiv_bigrams_fdist', 'indiv_trigrams_fdist', 'unigrams_cosine_sim',
       'bigrams_cosine_sim', 'trigrams_cosine_sim'],
      dtype='object')
Index(['fullname', 'alphabet', 'word_length', 'num_tokens', 'char_ngrams',
       'period_freq', 'dash_freq', 'space_freq', 'apostrophe_freq',
       'transliteration', 'unigrams', 'bigrams', 'trigrams',
       'indiv_unigrams_fdist', 'indiv_bigrams_fdist', 'unigrams_cosine_sim',
       'bigrams_cosine_sim'],
      dtype='object')

['word_length']

In [4]:
# idk if i can generalize this lol
# def rename_columns(df_ref, df_to_change):
#     diff_cols = [col for col in df_to_change.columns if col not in df_ref.columns]
#     new_names = 
#     df_to_change.rename(columns = {oldName : newName})

In [5]:
#Renaming viet_df columns

df_viet.rename(columns = {'word_length': 'name_length'}, inplace = True)
df_viet.head()

,fullname,alphabet,name_length,num_tokens,char_ngrams,period_freq,dash_freq,space_freq,apostrophe_freq,transliteration,unigrams,bigrams,trigrams,indiv_unigrams_fdist,indiv_bigrams_fdist,unigrams_cosine_sim,bigrams_cosine_sim
0,từ hoàng thông,"['LATIN', 'LATIN', 'SPACE', 'LATIN', 'LATIN', ...",14,3,"[('T',), ('ừ',), (' ',), ('H',), ('o',), ('à',...",0,0,2,0,tu hoang thong,"['t', 'ừ', ' ', 'h', 'o', 'à', 'n', 'g', ' ', ...","[('t', 'ừ'), ('ừ', ' '), (' ', 'h'), ('h', 'o'...","[('t', 'ừ', ' '), ('ừ', ' ', 'h'), (' ', 'h', ...",[[0.14285714 0. 0. 0. ...,[[0. 0. 0. ... 0. 0. 0.]],0.805625,0.508198
1,nguyễn thị phương thảo,"['LATIN', 'LATIN', 'LATIN', 'LATIN', 'LATIN', ...",22,4,"[('N',), ('g',), ('u',), ('y',), ('ễ',), ('n',...",0,0,3,0,nguyen thi phuong thao,"['n', 'g', 'u', 'y', 'ễ', 'n', ' ', 't', 'h', ...","[('n', 'g'), ('g', 'u'), ('u', 'y'), ('y', 'ễ'...","[('n', 'g', 'u'), ('g', 'u', 'y'), ('u', 'y', ...",[[0.13636364 0. 0. 0. ...,[[0. 0. 0. ... 0. 0. 0.]],0.884792,0.667716
2,nick út,"['LATIN', 'LATIN', 'LATIN', 'LATIN', 'SPACE', ...",7,2,"[('N',), ('i',), ('c',), ('k',), (' ',), ('Ú',...",0,0,1,0,nick ut,"['n', 'i', 'c', 'k', ' ', 'ú', 't']","[('n', 'i'), ('i', 'c'), ('c', 'k'), ('k', ' '...","[('n', 'i', 'c'), ('i', 'c', 'k'), ('c', 'k', ...",[[0.14285714 0. 0. 0.14285714 ...,[[0. 0. 0. ... 0. 0. 0.]],0.592690,0.005600
3,cao văn lầu,"['LATIN', 'LATIN', 'LATIN', 'SPACE', 'LATIN', ...",11,3,"[('C',), ('a',), ('o',), (' ',), ('V',), ('ă',...",0,0,2,0,cao van lau,"['c', 'a', 'o', ' ', 'v', 'ă', 'n', ' ', 'l', ...","[('c', 'a'), ('a', 'o'), ('o', ' '), (' ', 'v'...","[('c', 'a', 'o'), ('a', 'o', ' '), ('o', ' ', ...",[[0.18181818 0.09090909 0. 0.09090909 ...,[[0. 0. 0. ... 0. 0. 0.]],0.665965,0.243176
4,tạ thu thâu,"['LATIN', 'LATIN', 'SPACE', 'LATIN', 'LATIN', ...",11,3,"[('T',), ('ạ',), (' ',), ('T',), ('h',), ('u',...",0,0,2,0,ta thu thau,"['t', 'ạ', ' ', 't', 'h', 'u', ' ', 't', 'h', ...","[('t', 'ạ'), ('ạ', ' '), (' ', 't'), ('t', 'h'...","[('t', 'ạ', ' '), ('ạ', ' ', 't'), (' ', 't', ...",[[0.18181818 0. 0. 0. ...,[[0. 0. 0. ... 0. 0. 0.]],0.596114,0.288942

### 4. Keeping numerical columns only for each dataset

In [6]:
# DO FOR EACH DATASET
# dropping non-numerical columns - this is why it would be good to have more numerical features since we don't have a lot
df_indo = df_indo.select_dtypes(exclude = 'object')
df_indo

,name_length,avg_token_length,num_tokens,period_freq,dash_freq,apostrophe_freq,space_freq,unigrams_cosine_sim,bigrams_cosine_sim,trigrams_cosine_sim
0,9,9.000000,1,0,0,0,0,0.664809,0.250640,0.085949
1,12,12.000000,1,0,0,0,0,0.686625,0.353292,0.117226
2,8,8.000000,1,0,0,0,0,0.688312,0.197139,0.090295
3,9,9.000000,1,0,0,0,0,0.581396,0.155386,0.060083
4,8,8.000000,1,0,0,0,0,0.463215,0.176917,0.052811
...,...,...,...,...,...,...,...,...,...,...
11241,34,4.833333,6,0,0,0,5,0.883198,0.323446,0.099663
11242,41,6.000000,6,0,0,0,5,0.906658,0.559409,0.253901
11243,36,5.166667,6,4,0,0,5,0.731478,0.336306,0.163018
11244,53,6.714286,7,0,0,0,6,0.905343,0.577418,0.245617
11245,76,5.416667,12,0,0,0,11,0.856026,0.437257,0.170188

In [7]:
# DROP FOR WHOLE DATASET
# dropping trigrams for indo and malay
df_indo.drop('trigrams_cosine_sim', inplace = True, axis = 1)
df_malay.drop('trigrams_cosine_sim', inplace = True, axis = 1)

In [8]:
# clean up viet / other dfs before combining
df_viet.drop('trigrams', inplace = True, axis = 1)

### 5. Adding the language (label) to each dataset

In [9]:
df_indo['language'] = 'Indonesian'
df_malay['language'] = 'Malay'
df_viet['language'] = 'Vietnamese'
df_cnrom['language'] = 'Chinese (Romanized)'
df_cnchar['language'] = 'Chinese (Characters)'
df_indo.head()

,name_length,avg_token_length,num_tokens,period_freq,dash_freq,apostrophe_freq,space_freq,unigrams_cosine_sim,bigrams_cosine_sim,language
0,9,9.0,1,0,0,0,0,0.664809,0.250640,Indonesian
1,12,12.0,1,0,0,0,0,0.686625,0.353292,Indonesian
2,8,8.0,1,0,0,0,0,0.688312,0.197139,Indonesian
3,9,9.0,1,0,0,0,0,0.581396,0.155386,Indonesian
4,8,8.0,1,0,0,0,0,0.463215,0.176917,Indonesian

### 6. Combining all names to make one big dataset

In [10]:
# as you can see from output, we need the columns in the concatenated df (in this case, viet) to match
# it's okay if some values are NaN bc we'll drop all non-numerical columns anyway
merged_df = pd.concat([df_indo, df_malay, df_viet, df_cnrom, df_cnchar], ignore_index = True, join = 'outer')
merged_df

,name_length,avg_token_length,num_tokens,period_freq,dash_freq,apostrophe_freq,space_freq,unigrams_cosine_sim,bigrams_cosine_sim,language,...,unigrams,bigrams,trigrams,char_ngrams,word_ngrams,transliteration,indiv_unigrams_fdist,indiv_bigrams_fdist,indiv_trigrams_fdist,word_length
0,9.0,9.0,1,0,0,0,0,0.664809,0.250640,Indonesian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12.0,12.0,1,0,0,0,0,0.686625,0.353292,Indonesian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8.0,8.0,1,0,0,0,0,0.688312,0.197139,Indonesian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9.0,9.0,1,0,0,0,0,0.581396,0.155386,Indonesian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8.0,8.0,1,0,0,0,0,0.463215,0.176917,Indonesian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37972,NaN,NaN,3,0,0,0,2,0.844943,0.665759,Chinese (Characters),...,"['g', 'o', 'n', 'g', ' ', 'x', 'i', 'a', 'n', ...","[('g', 'o'), ('o', 'n'), ('n', 'g'), ('g', ' '...","[('g', 'o', 'n'), ('o', 'n', 'g'), ('n', 'g', ...","[('g',), ('o',), ('n',), ('g',), (' ',), ('x',...",NaN,gong xiang yu,[[0.15384615 0.07692308 0. 0. ...,[[0. 0. 0. 0. ...,NaN,13.0
37973,NaN,NaN,3,0,0,0,2,0.837370,0.501902,Chinese (Characters),...,"['g', 'o', 'n', 'g', ' ', 'y', 'u', ' ', 'z', ...","[('g', 'o'), ('o', 'n'), ('n', 'g'), ('g', ' '...","[('g', 'o', 'n'), ('o', 'n', 'g'), ('n', 'g', ...","[('g',), ('o',), ('n',), ('g',), (' ',), ('y',...",NaN,gong yu zhi,[[0.18181818 0. 0. 0. ...,[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,NaN,11.0
37974,NaN,NaN,3,0,0,0,2,0.729526,0.363754,Chinese (Characters),...,"['g', 'o', 'n', 'g', ' ', 'b', 'e', 'i', ' ', ...","[('g', 'o'), ('o', 'n'), ('n', 'g'), ('g', ' '...","[('g', 'o', 'n'), ('o', 'n', 'g'), ('n', 'g', ...","[('g',), ('o',), ('n',), ('g',), (' ',), ('b',...",NaN,gong bei bi,[[0.18181818 0. 0.18181818 0. ...,[[0. 0. 0.2 0. 0. 0. 0. 0. 0. 0. 0. ...,NaN,11.0
37975,NaN,NaN,3,0,0,0,2,0.808012,0.637316,Chinese (Characters),...,"['g', 'o', 'n', 'g', ' ', 'x', 'i', 'a', 'n', ...","[('g', 'o'), ('o', 'n'), ('n', 'g'), ('g', ' '...","[('g', 'o', 'n'), ('o', 'n', 'g'), ('n', 'g', ...","[('g',), ('o',), ('n',), ('g',), (' ',), ('x',...",NaN,gong xian yong,[[0.14285714 0.07142857 0. 0. ...,[[0. 0. 0. 0. ...,NaN,14.0
37976,NaN,NaN,2,0,0,0,1,0.688529,0.522372,Chinese (Characters),...,"['g', 'o', 'n', 'g', ' ', 'd', 'i', 'n', 'g']","[('g', 'o'), ('o', 'n'), ('n', 'g'), ('g', ' '...","[('g', 'o', 'n'), ('o', 'n', 'g'), ('n', 'g', ...","[('g',), ('o',), ('n',), ('g',), (' ',), ('d',...",NaN,gong ding,[[0.11111111 0. 0. 0. ...,[[0. 0. 0. 0. 0.125 0. 0. 0....,NaN,9.0

### Steps

Next steps:
1. Clean up columns so we can combine dataframes into one (focus on making an all-Latin dataset first)
    - do not combine in this step
2. Frequency distributions for Latin names -> redo
3. Add a_hat_freq
4. Only keep numerical columns
    - turn some categorical features -> numerical so we have more things to feed into model
5. Add in label (language) for each dataset
6. Combine Latin and non-Latin names to make one big dataset
    - may need to repeat some of the above steps for non-Latin names
7. Train test split
8. MODEL TRAINING!
9. Model evaluation

Reminder:
- We decided to keep period_freq, dash_freq, apostrophe_freq for now. After our first run of model training, we can remove them to see if it improves the performance

**You can work on these steps out of order** (act as if the previous steps r there), but in the end we ideally want all of these steps implemented in this order.

For example, you could write the code for model training and train the model on one or a few datasets. Later on, we'll just replace the variables you used with the ones containing all the languages/names.